{{Extend "layout"}}
{{Block "title"}}{{"资产流水记录"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/official/customer/index">{{`客户列表`|$.T}}</a></li>
{{if gt $.Stored.customer.Id 0}}
<li><a href="{{BackendURL}}/official/customer/edit?id={{$.Form `customerId`}}">{{$.Stored.customer.Name}}</a></li>
{{end}}
<li><a href="{{BackendURL}}/official/customer/wallet/index?customerId={{$.Form `customerId`}}">{{"客户资产列表"|$.T}}</a></li>
<li class="active">{{"资产流水记录"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<div class="pull-right" style="margin-left:10px">
					<form class="form-horizontal" action="" id="search-form" method="GET">
                        <input type="hidden" name="customerId" value="{{$.Form `customerId`}}">
						<div class="input-group">
							<span class="input-group-addon">{{"资产类型"|$.T}}</span>
							<select name="assetType" class="form-control" id="assetType" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{$assetType := $.Stored.assetType}} 
								{{range $k, $v := $.Stored.assetTypes}}
								<option value="{{$v.K}}" {{if eq $assetType $v.K}} selected{{end}}>{{$v.V}}</option>
								{{end}}
							</select>
							<span class="input-group-addon">{{"金额类型"|$.T}}</span>
							<select name="amountType" class="form-control" id="amountType" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{$amountType := $.Form `amountType`}}
								<option value="balance" {{if eq $amountType `balance`}} selected{{end}}>{{`可用余额`|$.T}}</option>
								<option value="freeze" {{if eq $amountType `freeze`}} selected{{end}}>{{`冻结额`|$.T}}</option>
							</select>
							<span class="input-group-addon">{{"消费类型"|$.T}}</span>
							<select name="type" class="form-control" id="type" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{$type := $.Form `type`}}
								<option value="income" {{if eq $type `income`}} selected{{end}}>{{`收入`|$.T}}</option>
								<option value="consume" {{if eq $type `consume`}} selected{{end}}>{{`支出`|$.T}}</option>
							</select>
						</div>
					</form>
				</div>					
				<h3>{{"资产流水记录"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th><strong>{{"客户"|$.T}}</strong></th>
							<th><strong>{{"发起人"|$.T}}</strong></th>
							<th><strong>{{"资产类型"|$.T}}</strong></th>
							<th><strong>{{"类型"|$.T}}</strong></th>
							<th><strong>{{"额度"|$.T}}</strong></th>
							<th><strong>{{"变动后"|$.T}}</strong></th>
							<th><strong>{{"来源类型"|$.T}}</strong></th>
							<th><strong>{{"来源表"|$.T}}</strong></th>
							<th><strong>{{"来源ID"|$.T}}</strong></th>
							<th><strong>{{"交易号"|$.T}}</strong></th>
							<th><strong>{{"说明"|$.T}}</strong></th>
							<th style="width:65px"><strong>{{"状态"|$.T}}</strong></th>
							<th style="width:65px"><strong>{{"创建时间"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">{{$zero := Float64 0}}
                        {{range $k,$v := $.Stored.listData}}
						<tr>
							<td>{{if $v.Customer}}{{$v.Customer.Name}}{{else}}-{{end}}</td>
							<td>{{if $v.SrcCustomer}}{{$v.SrcCustomer.Name}}{{else}}-{{end}}</td>
							<td>{{$v.AssetTypeName}}</td>
							<td>
                                {{if eq $v.AmountType `balance`}}
                                {{`余额`|$.T}}
                                {{else if eq $v.AmountType `freeze`}}
                                {{`冻结额`|$.T}}
                                {{else}}
                                {{`未知`|$.T}}: {{$v.AmountTyp}}
                                {{end}}
                            </td>
							<td>
								{{if lt $v.Amount $zero}}
								<strong class="text-danger">{{$v.Amount}}</strong>
								{{else}}
								<strong class="text-success">{{$v.Amount}}</strong>
								{{end}}
							</td>
							<td>{{$v.WalletAmount}}</td>
							<td>{{$v.SourceType}}</td>
							<td>{{$v.SourceTable}}</td>
							<td>{{$v.SourceId}}</td>
							<td>{{$v.TradeNo}}</td>
							<td>{{$v.Description}}</td>
							<td>
                                {{if eq $v.Status `confirmed`}}
                                <span class="label label-success">{{`已确认`|$.T}}</span>
                                {{else if eq $v.Status `pending`}}
                                <span class="label label-primary">{{`待确认`|$.T}}</span>
                                {{else if eq $v.Status `refunded`}}
                                <span class="label label-danger">{{`已退款`|$.T}}</span>
                                {{else if eq $v.Status `failed`}}
                                <span class="label label-danger">{{`失败`|$.T}}</span>
                                {{else if eq $v.Status `succeed`}}
                                <span class="label label-success">{{`成功`|$.T}}</span>
                                {{else if eq $v.Status `canceled`}}
                                <span class="label label-default">{{`已取消`|$.T}}</span>
                                {{else}}
                                {{$v.Status}}
                                {{end}}
                            </td>
							<td>{{(Date $v.Created).Format "2006-01-02 15:04:05"}}</td>
						</tr>
                        {{end}}
					</tbody>
				</table>		
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}