{{$config := $.Stored.base}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站名称"|$.T}}</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="base[siteName][value]" value="{{$config.siteName.Value}}" placeholder="{{`网站名称`|$.T}}" />
    </div>
    <label class="col-sm-2 control-label">{{"前台网址"|$.T}}
        <strong class="text-danger" data-toggle="tooltip" title="{{`更改后需要重启前台才能生效`|$.T}}">!</strong>
    </label>
    <div class="col-sm-4">
        <input type="url" class="form-control" name="base[siteURL][value]" value="{{$config.siteURL.Value}}" placeholder="{{`http://`|$.T}}" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"域名规则"|$.T}}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="base[hostRule][value]" value="{{$config.hostRule.Value}}" placeholder="{{`正则表达式`|$.T}}" />
        <div class="help-block">{{`在这里设置允许指向本站前台的域名规则正则表达式(不包含端口)，留空表示不限制`|$.T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站口号"|$.T}}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="base[siteSlogan][value]" value="{{$config.siteSlogan.Value}}" placeholder="{{`网站口号`|$.T}}" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"素材CDN"|$.T}}</label>
    <div class="col-sm-10">
        <span class="input-group">
            <span class="input-group-addon">{{"前台"|$.T}}</span>
            <input type="url" class="form-control" name="base[assetsCDN][value][frontend]" value="{{$config.assetsCDN.ValueObject.frontend|Default ``}}" placeholder="{{`http://`|$.T}}" />
            <span class="input-group-addon">{{"后台"|$.T}}</span>
            <input type="url" class="form-control" name="base[assetsCDN][value][backend]" value="{{$config.assetsCDN.ValueObject.backend|Default ``}}" placeholder="{{`http://`|$.T}}" />
        </span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站LOGO(中)"|$.T}}</label>
    <div class="col-sm-10">
        {{- $.Set `fileInputConfig` (MakeMap `name` `base[siteLogo][value]` `value` $config.siteLogo.Value `urlValues` (URLValues `group` `base` `key` `siteLogo`)) -}}
        {{Include "common/file_input" $}}
        <div class="help-block">
            {{`指定网站前台LOGO(中等尺寸)`|$.T}}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站LOGO(小)"|$.T}}</label>
    <div class="col-sm-10">
        {{- $.Set `fileInputConfig` (MakeMap `name` `base[siteLogoSmall][value]` `value` $config.siteLogoSmall.Value `urlValues` (URLValues `group` `base` `key` `siteLogoSmall`)) -}}
        {{Include "common/file_input" $}}
        <div class="help-block">
            {{`指定网站前台小尺寸LOGO`|$.T}}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站LOGO(大)"|$.T}}</label>
    <div class="col-sm-10">
        {{- $.Set `fileInputConfig` (MakeMap `name` `base[siteLogoLarge][value]` `value` $config.siteLogoLarge.Value `urlValues` (URLValues `group` `base` `key` `siteLogoLarge`)) -}}
        {{Include "common/file_input" $}}
        <div class="help-block">
            {{`指定网站前台大尺寸LOGO`|$.T}}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"收藏夹图标"|$.T}}</label>
    <div class="col-sm-10">
        {{- $.Set `fileInputConfig` (MakeMap `name` `base[siteFavicon][value]` `value` $config.siteFavicon.Value `urlValues` (URLValues `group` `base` `key` `siteFavicon`)) -}}
        {{Include "common/file_input" $}}
        <div class="help-block">
            {{`指定网站前台 favicon.ico 图标。不设置的时候使用默认图标`|$.T}}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"用户中心LOGO"|$.T}}</label>
    <div class="col-sm-10">
        {{- $.Set `fileInputConfig` (MakeMap `name` `base[userCenterLogo][value]` `value` $config.userCenterLogo.Value `urlValues` (URLValues `group` `base` `key` `userCenterLogo`)) -}}
        {{Include "common/file_input" $}}
        <div class="help-block">
            {{`用户中心LOGO`|$.T}}. 
            {{`如果不填，则使用网站LOGO(中)`|$.T}}
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"信件验证码有效期"|$.T}}</label>
    <div class="col-sm-4">
        <div class="input-group no-margin-bottom">
        <input type="number" class="form-control" name="base[verifyCodeLifetime][value]" value="{{$config.verifyCodeLifetime.Value}}" placeholder="5" step="1" min="0" />
        <span class="input-group-addon">{{"分钟"|$.T}}</span>
        </div>
        <div class="help-block">{{"短信/邮件验证码的有效期"|$.T}}</div>
    </div>
    <label class="col-sm-2 control-label">{{"HashID盐值"|$.T}}</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="base[hashidSalt][value]" value="{{$config.hashidSalt.Value}}" />
        <div class="help-block">{{"HashID盐值"|$.T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站状态"|$.T}}</label>
    <div class="col-sm-4">
        {{$siteClose := $config.siteClose.Value | Default "0"}}
        <select name="base[siteClose][value]" class="form-control">
            <option value="0"{{if eq $siteClose `0`}} selected{{end}}>{{"开启网站"|$.T}}</option>
            <option value="1"{{if eq $siteClose `1`}} selected{{end}}>{{"关闭网站"|$.T}}</option>
            <option value="2"{{if eq $siteClose `2`}} selected{{end}}>{{"仅供会员访问"|$.T}}</option>
            <option value="3"{{if eq $siteClose `3`}} selected{{end}}>{{"仅供管理员访问"|$.T}}</option>
        </select>
    </div>
    <label class="col-sm-2 control-label">{{"ICP备案号"|$.T}}</label>
    <div class="col-sm-4">
        <span class="input-group">
            <input type="text" class="form-control" name="base[siteICPFiling][value]" value="{{$config.siteICPFiling.Value}}" placeholder="{{`粤ICP备12345678号-3`|$.T}}" />
            <span class="input-group-addon">{{`网址`|$.T}}</span>
            <input type="url" class="form-control" name="base[siteICPURL][value]" value="{{$config.siteICPURL.Value}}" placeholder="https://beian.miit.gov.cn/" />
        </span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"客户注册"|$.T}}</label>
    <div class="col-sm-4">
        {{$customerRegister := $config.customerRegister.Value | Default "open"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[customerRegister][value]" value="open"{{if eq $customerRegister `open`}} checked{{end}} id="base-customerRegister-open">
            <label for="base-customerRegister-open">{{"开放注册"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[customerRegister][value]" value="invitation"{{if eq $customerRegister `invitation`}} checked{{end}} id="base-customerRegister-invitation">
            <label for="base-customerRegister-invitation">{{"邀请注册"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[customerRegister][value]" value="close"{{if eq $customerRegister `close`}} checked{{end}} id="base-customerRegister-close">
            <label for="base-customerRegister-close">{{"关闭注册"|$.T}}</label>
        </span>
    </div>
    <label class="col-sm-2 control-label">{{"评论"|$.T}}</label>
    <div class="col-sm-4">
        {{$comment := $config.comment.Value | Default "open"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[comment][value]" value="open"{{if eq $comment `open`}} checked{{end}} id="base-comment-open">
            <label for="base-comment-open" data-toggle="tooltip" title="{{`开放评论无需审核`|$.T}}">{{"开放评论(免审)"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[comment][value]" value="review"{{if eq $comment `review`}} checked{{end}} id="base-comment-review">
            <label for="base-comment-review" data-toggle="tooltip" title="{{`开放评论但需要审核`|$.T}}">{{"开放评论(审)"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[comment][value]" value="close"{{if eq $comment `close`}} checked{{end}} id="base-comment-close">
            <label for="base-comment-close">{{"关闭评论"|$.T}}</label>
        </span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{"客户登录"|$.T}}</label>
    <div class="col-sm-4">
        {{$customerLogin := $config.customerLogin.Value | Default "open"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[customerLogin][value]" value="open"{{if eq $customerLogin `open`}} checked{{end}} id="base-customerLogin-open">
            <label for="base-customerLogin-open">{{"开放登录"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[customerLogin][value]" value="close"{{if eq $customerLogin `close`}} checked{{end}} id="base-customerLogin-close">
            <label for="base-customerLogin-close">{{"关闭登录"|$.T}}</label>
        </span>
        <div class="help-block">{{`关闭登录之后，前台用户将无法登录`|$.T}}</div>
    </div>
    <label class="col-sm-2 control-label">{{"客户权限缓存"|$.T}}</label>
    <div class="col-sm-4">
        {{$customerPermCacheTTL := $config.customerPermCacheTTL.Value | Default "-1"}}
        <span class="input-group no-margin-bottom">
            <input type="number" class="form-control" name="base[customerPermCacheTTL][value]" value="{{$customerPermCacheTTL}}">
            <span class="input-group-addon">{{`秒`|$.T}}</span>
        </span>
        <div class="help-block"><code>-1</code>或<code>0</code>:禁用缓存；<code>-1<</code>:强制更新缓存；<code>>0</code>:缓存时长(秒)</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"赠送经验值"|$.T}}</label>
    <div class="col-sm-4">
        <span class="input-group">
            {{$experience := $config.addExperience.ValueObject.register|Default `0.0`}}
            <span class="input-group-addon">{{`注册时`|$.T}}</span>
            <input class="form-control" type="number" name="base[addExperience][value][register]" value="{{$experience}}" min="0.0">
            {{$experience := $config.addExperience.ValueObject.login|Default `0.0`}}
            <span class="input-group-addon">{{`登录时`|$.T}}</span>
            <input class="form-control" type="number" name="base[addExperience][value][login]" value="{{$experience}}" min="0.0">
        </span>
        <div class="help-block">{{`设置客户在注册和登录时获赠的经验值`|$.T}}</div>
    </div>
    <label class="col-sm-2 control-label">{{"JWT有效期"|$.T}}</label>
    <div class="col-sm-4">
        <span class="input-group">
            {{$jwtMaxLifetime := $config.jwtMaxLifetime.Value}}
            <input class="form-control" type="number" name="base[jwtMaxLifetime][value]" value="{{$jwtMaxLifetime}}" min="0">
            <span class="input-group-addon">{{`秒`|$.T}}</span>
        </span>
        <div class="help-block">{{`设为0或空则默认90天`|$.T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"在线充值"|$.T}}</label>
    <div class="col-sm-10">
        {{$on := $config.recharge.ValueObject.On|Default false}}
        {{$rechargeMinAmt := 0.01}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[recharge][value][On]" value="1"{{if $on}} checked{{end}} id="base-recharge-On-1" onclick="$('#base-recharge-settings').removeClass('hide');$('#base-recharge-min-amount').attr('min','{{$rechargeMinAmt}}');">
            <label for="base-recharge-On-1">{{"启用"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[recharge][value][On]" value="0"{{if not $on}} checked{{end}} id="base-recharge-On-0" onclick="$('#base-recharge-settings:not(.hide)').addClass('hide');$('#base-recharge-min-amount').attr('min','0.00');">
            <label for="base-recharge-On-0">{{"禁用"|$.T}}</label>
        </span>
        <div class="fieldset bg-fc{{if not $on}} hide{{end}}" id="base-recharge-settings">
            <div class="form-group xs-padding-top">
                <div class="col-sm-12">
                    <span class="input-group">
                        <span class="input-group-addon">{{"默认金额"|$.T}}</span>
                        <input type="number" class="form-control" name="base[recharge][value][DefaultAmount]" id="base-recharge-default-amount" value="{{$config.recharge.ValueObject.DefaultAmount}}" min="0.00" step="0.01" />
                        <span class="input-group-addon">{{"最小金额"|$.T}}</span>
                        <input type="number" class="form-control" name="base[recharge][value][MinAmount]" id="base-recharge-min-amount" value="{{$config.recharge.ValueObject.MinAmount}}" min="{{if $on}}{{$rechargeMinAmt}}{{else}}0.00{{end}}" step="0.01" />
                    </span>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">{{"默认币种"|$.T}}</label>
<div class="col-sm-4">
    {{$defaultCurrency := $config.defaultCurrency.Value|Default `CNY`}}
    <input type="text" class="form-control" name="base[defaultCurrency][value]" value="{{$defaultCurrency}}" maxlength="3" size="3" placeholder="CNY" pattern="^[A-Z]{3}$" />
    <div class="help-block">
        {{`币种符号。例如：<code>CNY</code>-人民币,<code>USD</code>-美元`|$.T|ToHTML}}
    </div>
</div>
    <label class="col-sm-2 control-label">{{"首页路由"|$.T}}</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="base[defaultHandler][value]" value="{{$config.defaultHandler.Value}}" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{"IP过滤"|$.T}}</label>
    <div class="col-sm-10">
        {{$on := $config.ipFilter.ValueObject.On|Default false}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[ipFilter][value][On]" value="1"{{if $on}} checked{{end}} id="base-ipFilter-On-1" onclick="$('#base-ipFilter-settings').removeClass('hide')">
            <label for="base-ipFilter-On-1">{{"启用"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[ipFilter][value][On]" value="0"{{if not $on}} checked{{end}} id="base-ipFilter-On-0" onclick="$('#base-ipFilter-settings:not(.hide)').addClass('hide')">
            <label for="base-ipFilter-On-0">{{"禁用"|$.T}}</label>
        </span>
        <div class="fieldset bg-fc{{if not $on}} hide{{end}}" id="base-ipFilter-settings">
            <div class="form-group xs-padding-top">
            <div class="alert alert-warning no-margin">
                <strong class="text-danger">!</strong> {{`带此标记的参数代表修改后需要重启还会生效`|$.T}}
            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"放行签名"|$.T}}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="base[ipFilter][value][PassToken]" value="{{$config.ipFilter.ValueObject.PassToken}}" />
                    <div class="help-block">{{`在网址中增加参数“passToken=签名”来跳过过滤`|$.T}}</div>
                </div>
                <label class="col-sm-2 control-label">{{"默认行为"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-4">
                    {{$blockByDefault := $config.ipFilter.ValueObject.BlockByDefault|Default false}}
                    <span class="radio radio-primary radio-inline">
                        <input type="radio" name="base[ipFilter][value][BlockByDefault]" value="1"{{if $blockByDefault}} checked{{end}} id="base-ipFilter-BlockByDefault-1">
                        <label for="base-ipFilter-BlockByDefault-1">{{"封锁"|$.T}}</label>
                    </span>
                    <span class="radio radio-primary radio-inline">
                        <input type="radio" name="base[ipFilter][value][BlockByDefault]" value="0"{{if not $blockByDefault}} checked{{end}} id="base-ipFilter-BlockByDefault-0">
                        <label for="base-ipFilter-BlockByDefault-0">{{"放行"|$.T}}</label>
                    </span>            
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"国家白名单"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="base[ipFilter][value][AllowedCountries]">
                        {{- range $k,$v:=$config.ipFilter.ValueObject.AllowedCountries -}}
                        {{- if gt $k 0 -}}{{"\n"}}{{- end -}}
                        {{- $v -}}
                        {{- end -}}
                    </textarea>
                    <div class="help-block">
                        {{`输入国家或地区的ISO两位简码，例如：CN,RU,US,JP`|$.T}}
                        <br />{{`如有多个，请一行一个`|$.T}}
                    </div>
                </div>
                <label class="col-sm-2 control-label">{{"国家黑名单"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="base[ipFilter][value][BlockedCountries]">
                        {{- range $k,$v:=$config.ipFilter.ValueObject.BlockedCountries -}}
                        {{- if gt $k 0 -}}{{"\n"}}{{- end -}}
                        {{- $v -}}
                        {{- end -}}
                    </textarea>
                    <div class="help-block">
                        {{`输入国家或地区的ISO两位简码，例如：CN,RU,US,JP`|$.T}}
                        <br />{{`如有多个，请一行一个`|$.T}}
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"IP白名单"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="base[ipFilter][value][AllowedIPs]">
                        {{- range $k,$v:=$config.ipFilter.ValueObject.AllowedIPs -}}
                        {{- if gt $k 0 -}}{{"\n"}}{{- end -}}
                        {{- $v -}}
                        {{- end -}}
                    </textarea>
                    <div class="help-block">
                        {{`如有多个，请一行一个`|$.T}}
                    </div>
                </div>
                <label class="col-sm-2 control-label">{{"IP黑名单"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="base[ipFilter][value][BlockedIPs]">
                        {{- range $k,$v:=$config.ipFilter.ValueObject.BlockedIPs -}}
                        {{- if gt $k 0 -}}{{"\n"}}{{- end -}}
                        {{- $v -}}
                        {{- end -}}
                    </textarea>
                    <div class="help-block">
                        {{`如有多个，请一行一个`|$.T}}
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"IP来源"|$.T}}
                    <strong class="text-danger">!</strong>
                </label>
                <div class="col-sm-10">
                    {{$trustProxy := $config.ipFilter.ValueObject.TrustProxy|Default true}}
                    <span class="radio radio-primary radio-inline">
                        <input type="radio" name="base[ipFilter][value][TrustProxy]" value="1"{{if $trustProxy}} checked{{end}} id="base-ipFilter-TrustProxy-1">
                        <label for="base-ipFilter-TrustProxy-1">{{"代理服务器IP"|$.T}}</label>
                    </span>
                    <span class="radio radio-primary radio-inline">
                        <input type="radio" name="base[ipFilter][value][TrustProxy]" value="0"{{if not $trustProxy}} checked{{end}} id="base-ipFilter-TrustProxy-0">
                        <label for="base-ipFilter-TrustProxy-0">{{"客户端IP"|$.T}}</label>
                    </span>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"站点公告"|$.T}}</label>
    <div class="col-sm-10">
        {{$showAnnouncement := $config.showAnnouncement.Value | Default "0"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[showAnnouncement][value]" value="1"{{if eq $showAnnouncement `1`}} checked{{end}} id="base-showAnnouncement-1">
            <label for="base-showAnnouncement-1">{{"显示公告"|$.T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[showAnnouncement][value]" value="0"{{if eq $showAnnouncement `0`}} checked{{end}} id="base-showAnnouncement-0">
            <label for="base-showAnnouncement-0">{{"不显示公告"|$.T}}</label>
        </span>
        <textarea class="form-control html-editor" name="base[siteAnnouncement][value]" data-upload-url="{{BackendUploadURL `` `group` `base` `key` `siteAnnouncement`}}"
        action="!{{BackendURL}}/finder?multiple=1" rows="15" placeholder="{{`站点公告`|$.T}}">{{$config.siteAnnouncement.Value}}</textarea>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"统计代码"|$.T}}</label>
    <div class="col-sm-10">
        <textarea class="form-control" style="height:150px" name="base[statCode][value]" placeholder="{{`统计代码`|$.T}}">{{$config.statCode.Value}}</textarea>
    </div>
</div>