{{$config := $.Stored.cache}}
{{Include "official/settings/cache_help"}}
<script type="text/javascript">
function onSelectDbAccount(a){
    var ipt=$(a).parent().prev('input');
    ipt.attr('type',a.value?'hidden':'text');
    if(a.value){
        if(ipt.val() && /^\d+$/.test(ipt.val())) ipt.data('last',ipt.val());
        ipt.val(a.value);
    }else{
        var last=ipt.data('last');
        ipt.val(last||'');
    }
}
function onSelectCacheAdapter(a){
    var name=$(a).attr('name');//cache[default][value][Adapter]
    var value=$(a).val();
    name=String(name).replace(/\[Adapter\]$/,'');
    var selAcc=$('select[name="'+name+'[dbAccount]"]');
    var parent=selAcc.parent('span.input-group-addon');
    if (value=='redis') {
        parent.show();
        parent.prev('input').attr('type', 'hidden');
    }else{
        parent.hide();
        parent.prev('input').attr('type', 'text');
    }
}
</script>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"主要缓存"|$.T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"存储方式"|$.T}}</label>
                <div class="col-sm-9">{{$adapter := $config.default.ValueObject.Adapter|Default "redis"}}
                    {{range $k, $v := $.Stored.cacheAdapters}}
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="{{$v}}" name="cache[default][value][Adapter]" id="cache-default-Adapter-{{$v}}"{{if eq $adapter $v}} checked{{end}} onclick="onSelectCacheAdapter(this)"> <label for="cache-default-Adapter-{{$v}}">{{$v}}</label>
                    </div>
                    {{end}}
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"配置"|$.T}}</label>
                <div class="col-sm-9">{{$adapterConfig := $config.default.ValueObject.AdapterConfig | Default ""}}
                    <span class="input-group" style="width:100%">
                    <input type="{{if and (eq $adapter `redis`) (call $.Func.isDbAccount $adapterConfig)}}hidden{{else}}text{{end}}" class="form-control" name="cache[default][value][AdapterConfig]" value="{{$adapterConfig}}">
                    <span class="input-group-addon no-padding no-border" style="min-width:100px{{if ne $adapter `redis`}};display:none{{end}}">
                    <select class="form-control" name="cache[default][value][dbAccount]" onchange="onSelectDbAccount(this)">
                        <option value="">{{`- 账号 -`|$.T}}</option>
                        {{range $k, $v := $.Stored.dbAccounts}}
                        <option value="{{$v.Id}}"{{if eq (Str $v.Id) $adapterConfig}} selected="selected"{{end}}>{{$v.Title|Default $v.Host}}</option>
                        {{end}}
                    </select>
                    </span>
                    </span>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"GC间隔"|$.T}}</label>
                <div class="col-sm-9">
                    <span class="input-group">
                    <input type="number" class="form-control" name="cache[default][value][Interval]" value="{{$config.default.ValueObject.Interval}}">
                    <span class="input-group-addon">{{`秒`|$.T}}</span>
                    </span>
                    <div class="help-block">{{`用于file缓存清理过期缓存的间隔时间，0代表使用默认值(60秒)，负数代表禁用自动清理`|$.T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"备用存储"|$.T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"存储方式"|$.T}}</label>
                <div class="col-sm-9">{{$adapter := $config.fallback.ValueObject.Adapter|Default "file"}}
                    {{range $k, $v := $.Stored.cacheAdapters}}
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="{{$v}}" name="cache[fallback][value][Adapter]" id="cache-fallback-Adapter-{{$v}}"{{if eq $adapter $v}} checked{{end}} onclick="onSelectCacheAdapter(this)"> <label for="cache-fallback-Adapter-{{$v}}">{{$v}}</label>
                    </div>
                    {{end}}
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"配置"|$.T}}</label>
                <div class="col-sm-9">{{$adapterConfig := $config.fallback.ValueObject.AdapterConfig | Default ""}}
                    <span class="input-group" style="width:100%">
                    <input type="{{if and (eq $adapter `redis`) (call $.Func.isDbAccount $adapterConfig)}}hidden{{else}}text{{end}}" class="form-control" name="cache[fallback][value][AdapterConfig]" value="{{$adapterConfig}}">
                    <span class="input-group-addon no-padding no-border" style="min-width:100px{{if ne $adapter `redis`}};display:none{{end}}">
                    <select class="form-control" name="cache[fallback][value][dbAccount]" onchange="onSelectDbAccount(this)">
                        <option value="">{{`- 账号 -`|$.T}}</option>
                        {{range $k, $v := $.Stored.dbAccounts}}
                        <option value="{{$v.Id}}"{{if eq (Str $v.Id) $adapterConfig}} selected="selected"{{end}}>{{$v.Title|Default $v.Host}}</option>
                        {{end}}
                    </select>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"GC间隔"|$.T}}</label>
                <div class="col-sm-9">
                    <span class="input-group">
                    <input type="number" class="form-control" name="cache[fallback][value][Interval]" value="{{$config.fallback.ValueObject.Interval}}">
                    <span class="input-group-addon">{{`秒`|$.T}}</span>
                    </span>
                    <div class="help-block">{{`用于file缓存清理过期缓存的间隔时间，0代表使用默认值(60秒)，负数代表禁用自动清理`|$.T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>

