{{Extend "#default#user/base"}}
{{Block "body"}}{{Super}}
 <div class="main mg-lg-l-240 pd-y-20 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"申请代理"|T}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|T}}</a>
      <span class="breadcrumb-item active">{{"申请代理"|T}}</span>
    </nav>
  </div>
  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
{{- $customer := Customer -}}
{{- $editable := Stored.editable -}}
{{- $statusColor := Stored.statusColor|Default `info` -}}
    <div class="card card-flat tx-size-sm pd-30">
      {{- if Stored.statusName -}}
      <div class="alert alert-{{$statusColor}} alert-bordered pd-y-20 mg-0" role="alert">
          <div class="d-flex align-items-center justify-content-start">
            <i class="icon ion-alert-circled alert-icon tx-size-52 tx-{{$statusColor}} mg-r-20"></i>
            <div class="ml50">
              <h5 class="mg-b-2 tx-{{$statusColor}}">{{Stored.statusName}}</h5>
              <p class="mg-b-0 tx-gray">
                {{"您的申请已经提交。"|T}}
                {{- if eq Stored.status `pending` -}}
                <button type="button" class="btn btn-info btn-sm">
                  <i class="fa fa-money"></i>
                  {{"支付代理费"|T}}
                </button> &nbsp; &nbsp;
                {{- end -}}
                {{Stored.statusDescription|T}}
              </p>
            </div>
          </div><!-- d-flex -->
        </div>
      {{- end -}}
        <form class="form form-label-right" method="POST">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"收款方式"|T}}:</label>
              <div class="col-sm-8">{{$recvMoneyMethod := Form `recvMoneyMethod` `alipay`}}
                {{- range $k, $v := Stored.recvMoneyMethods -}}
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" value="{{$v.K}}" name="recvMoneyMethod"{{if eq $v.K $recvMoneyMethod}} checked="checked"{{end}}{{if not $editable}} disabled{{end}}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{$v.V}}</span>
                </label>
                {{- end -}}
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRecvMoneyBranch" class="col-sm-2 col-form-label">{{"银行支行"|T}}:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="recvMoneyBranch" id="inputRecvMoneyBranch" value="{{Form `recvMoneyBranch`}}"{{if not $editable}} disabled{{end}}>
                <small id="descriptionHelp" class="form-text text-muted">{{"银行收款时必须填写"|T}}</small>
              </div>
              <label for="inputRecvMoneyOwner" class="col-sm-2 col-form-label">{{"开户人姓名"|T}}:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="recvMoneyOwner" id="inputRecvMoneyOwner" value="{{Form `recvMoneyOwner`}}"{{if not $editable}} disabled{{end}}>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRecvMoneyAccount" class="col-sm-2 col-form-label">{{"收款账号"|T}}:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="recvMoneyAccount" id="inputRecvMoneyAccount" value="{{Form `recvMoneyAccount`}}"{{if not $editable}} disabled{{end}}>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"代理级别"|T}}:</label>
              <div class="col-sm-8 mg-t-5">{{$applyLevel := (Formx `applyLevel`).Uint}}
                {{- range $k, $v := Stored.agentLevelList -}}
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input applyAgentLevel" value="{{$v.Id}}" name="applyLevel"{{if or (and (eq $applyLevel 0) (eq $k 0)) (eq $applyLevel $v.Id)}} checked="checked"{{end}} data-config="{{$v|JSONEncode}}"{{if not $editable}} disabled{{end}}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{$v.Name}}</span>
                </label>
                {{- end -}}
                <small id="applyLevelHelp" class="form-text text-muted">{{T "%d层下线分层模式" 10}}</small>
                <table class="table table-bordered table-striped table-responsive d-xs-table">
                  <caption>{{T "%d层下线分成模式" 10}}</caption>
                  <thead class="thead-colored thead-warning">
                    <tr>
                      <th class="tx-right wd-70">{{"层级"|T}}</th>
                      <th>{{"提成比例"|T}}</th>
                    </tr>
                  </thead>
                  <tbody id="levelSalesCommissionRatio">
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"代理费"|T}}:</label>
              <div class="col-sm-8 mg-t-5">
                <h3 class="tx-warning">¥<em id="agencyFee">0.00</em></h3>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"备注"|T}}:</label>
              <div class="col-sm-8 mg-t-5">
                <textarea name="remark" id="inputRemark" class="form-control" maxlength="200"{{if not $editable}} disabled{{end}}>{{Form `remark`}}</textarea>
                <small id="remarkHelp" class="form-text text-muted">{{T "不得超过%d个字,还能输入%s个字" 200 `<code id="remarkWordsCount">200</code>` | ToHTML}}</small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-8 mg-t-5 offset-sm-2">
                  <button type="submit" class="btn btn-primary"{{if not $editable}} data-toggle="tooltip" title="{{`不可修改`|T}}" style="cursor:not-allowed" disabled{{end}}>
                    <i class="fa fa-check"></i>
                    {{"申请代理"|T}}
                  </button>
              </div>
            </div>
          </form>
    </div><!-- .card -->
  </div><!-- col-lg-12 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}
{{Block "footer"}}
{{Super}}
<script>
$(function(){
  $('input.applyAgentLevel').on('click',function(){
    var cfg=$(this).data('config');
    var htm='';
    for(var i=1;i<=10;i++){
      htm+='<tr><td class="tx-right">'+i+'</td><td>'+(cfg['sales_commission_ratio_'+i]*100).toFixed(2)+'%</td></tr>';
    }
    $('#levelSalesCommissionRatio').html(htm);
    $('#applyLevelHelp').text(cfg.description);
    $('#agencyFee').text(Number(cfg.agency_fee).toFixed(2));
  });
  $('input.applyAgentLevel:checked').trigger('click');
  $('#inputRemark').on('keyup',function(){
    $('#remarkWordsCount').text(200-String($(this).val()).length);
  }).trigger('keyup');
});
</script>
{{/Block}}