# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
.idea
/*.exe
tower-app-*
*.test
*.prof
*.log
*.log.*
*.pid
installed.lock
installed2.lock
/dist/config
/dist/ftp.pid
/dist/webx_*
/dist/data
/bindata_assetfs.go
/config/vhosts/*.conf
/.vscode
/*.db
/config/config.yaml
/config/*.html
/config/prometheus/data
/license.key
debug.log
/data/logs*.txt
/config/frp/*
/data/nging.pem
/data/nging.pem.pub
/data/logs/*.txt
/data/sm2/*
/application/library/collector/chrome/*.png
/data/cache/*
nohup.out
/public/upload/*
/public/collect/*
.DS_Store
/dist/localtest/*/
.env
/vendor