{{- $isDark := $.ThemeInfo.IsColorName `dark` -}}
<div class="card bd-0 rounded-0 mg-t-20">
    <div class="card-header bd-b-0 rounded-0 pd-0 bg-superlight">
      <nav class="nav nav-outline nav-gray tx-bold tx-size-13 tx-uppercase pd-sm-x-20 flex-column flex-sm-row">{{$sort := $.Form `sort`}}
        <a href="{{$.URL.Path}}" class="nav-link pd-y-20{{if not $sort}} active{{end}}">{{`最新文章`|$.T}}</a>
        <a href="{{$.URL.Path}}?sort=-reviews" class="nav-link pd-y-20{{if eq $sort `-reviews`}} active{{end}}">{{`热门文章`|$.T}}</a>
        <a href="{{$.URL.Path}}?sort=-comments" class="nav-link pd-y-20{{if eq $sort `-comments`}} active{{end}}">{{`话题文章`|$.T}}</a>
      </nav><!-- nav -->
    </div><!-- card-header -->
    <form method="GET" action="{{$.URL.Path}}">
    <div class="input-group bd-b{{if $isDark}} bd-color-inverse{{end}}">
        <input type="hidden" name="sort" value="{{$.Form `sort`}}">
        <input type="search" name="q" value="{{$.Form `q`}}" required class="form-control pd-y-20 bd-0 pd-l-30 rounded-left-0" placeholder="{{`搜索文章`|$.T}}">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary bd-0 rounded-right-0"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- input-group -->
    </form>
    {{- range $k, $v := $.Stored.list -}}
    <div class="row mg-0{{if gt $k 0}} bd-t{{end}} {{if $isDark}}hover-bg-inverse bd-color-inverse{{else}}hover-bg-gray-xlightest{{end}}">
      <div class="col-md-12">
        <div class="media pd-20">
          <a href="{{URLByName `article.detail` $v.Id}}" target="_blank" class="d-flex mg-r-10">
            <img src="{{$v.Image|Default (AssetsXURL `/images/placeholder/default-sm.jpg`)}}" class="wd-60" alt="{{$v.Title}}" onerror="this.onerror=null;this.src='{{AssetsXURL `/images/placeholder/default-sm.jpg`}}';">
          </a>
          <div class="media-body">
              <span class="pull-right">
                {{- if $v.Tags -}}
                <small>
                <i class="fa fa-tags"></i>
                {{- range $index, $tagName := Split $v.Tags "," -}}
                <a href="{{$.URL.Path}}?tag={{$tagName}}">
                  <span class="label label-default label-xs label-hover-primary">{{$tagName}}</span>
                </a>
                {{- end -}}
                </small>
                {{- end -}}
            </span>
            <p class="tx-size-sm mg-b-0 tx-bold"><a href="{{URLByName `article.detail` $v.Id}}" target="_blank" class="tx-gray-dark d-block">{{$v.Title}}</a></p>
            <div class="tx-size-12">
                <span class="d-block d-sm-inline">{{`创建于`|$.T}}: {{(Date $v.Created).Format "2006-01-02"}}</span>
                <span class="d-block d-sm-inline mg-sm-l-10">{{`最后更新`|$.T}}: {{if gt $v.Updated 0}}{{(Date $v.Updated).Format "2006-01-02"}}{{else}}{{(Date $v.Created).Format "2006-01-02"}}{{end}}</span>
                <span class="d-block d-sm-inline mg-sm-l-10">{{`点击`|$.T}}: {{$v.Views}}</span>
                <span class="d-block d-sm-inline mg-sm-l-10">{{`评论`|$.T}}: {{$v.Comments}}</span>
                <span class="d-block d-sm-inline mg-sm-l-10">{{`点赞`|$.T}}: {{$v.Likes}}</span>
                {{- if $v.Categories -}}
                <br /><small>
                {{- range $index, $category := $v.Categories -}}
                {{- if gt $index 0 -}}<i class="fa fa-angle-right wd-10 text-center"></i>{{- end -}}
                <a href="{{$.URL.Path}}?categoryId={{$category.Id}}">{{$category.Name}}</a>
                {{- end -}}
                </small>
                {{- end -}}
            </div>
          </div><!-- media-body -->
        </div><!-- media -->
      </div><!-- col-3 -->
    </div><!-- row -->
    {{- else -}}
    <div class="row mg-t-20">
      <div class="col-md-12 pd-x-20">
        <div class="alert alert-default alert-bordered pd-y-20" role="alert">
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button> -->
        <div class="d-flex align-items-center justify-content-start">
          <i class="icon ion-ios-information alert-icon tx-size-52 tx-primary mg-r-20"></i>
          <div>
            <h5 class="mg-b-2 tx-primary">{{`哦，没找到`|$.T}}...</h5>
            <p class="mg-b-0 tx-gray">{{`主人还没有发布任何文章`|$.T}}</p>
          </div>
        </div>
        </div>
      </div>
      </div>
    {{- end -}}
    <nav class="d-flex justify-content-center bd-t pd-t-10">
        {{$.Stored.pagination.Render "#default#pagination_circle"}}
    </nav>
  </div><!-- card -->