{{Strip}}{{Extend "layout"}}
{{Block "title"}}{{"网址规则管理"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"网址规则管理"|$.T}}</li>
{{/Block}}
{{Block "head"}}
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				{{Include "official/manager/frontend/route_rewrite_tips"}}
				<div class="pull-right" style="margin-left:10px">
				</div>
				<a href="{{BackendURL}}/manager/frontend/route_rewrite_add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加网址规则"|$.T}}
				</a>
				<h3>{{"规则列表"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th style="width:50px"><strong>ID</strong></th>
							<th style="width:100px"><strong>{{"规则名称"|$.T}}</strong></th>
							<th><strong>{{"路由网址"|$.T}}</strong></th>
							<th><strong>{{"自定义网址"|$.T}}</strong></th>
							<th style="width:130px"><strong>{{"创建时间"|$.T}}</strong></th>
							<th style="width:60px"><strong>{{"状态"|$.T}}</strong></th>
							<th style="width:100px" class="text-right"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y" id="navigate-list-container">
						{{range $k, $v := $.Stored.listData}}
						<tr>
							<td>{{$v.Id}}</td>
							<td>{{$v.Name}}</td>
							<td>{{$v.Route}}</td>
							<td>{{$v.RewriteTo}}</td>
							<td>{{(Date $v.Created).Format "2006-01-02 15:04:05"}}</td>
							<td>
								<div class="checkbox checkbox-success no-margin-y">
									<input id="checkbox-disabled-{{$k}}" class="styled switch-disabled" type="checkbox" data-id="{{$v.Id}}" data-disabled="{{$v.Disabled}}"{{if eq $v.Disabled `N`}} checked="checked"{{end}} value="N" /><label for="checkbox-disabled-{{$k}}">{{"启用"|$.T}}</label>
								</div>
							</td>
							<td class="text-right">
							<a class="label label-default" href="{{BackendURL}}/manager/frontend/route_rewrite_add?copyId={{$v.Id}}" title="{{`复制`|$.T}}" data-toggle="tooltip"><i class="fa fa-copy"></i></a>
							<a class="label label-success" href="{{BackendURL}}/manager/frontend/route_rewrite_edit?id={{$v.Id}}" title="{{`编辑`|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a> 
							<a class="label label-danger" href="{{BackendURL}}/manager/frontend/route_rewrite_delete?id={{$v.Id}}" onclick="return confirm('{{`真的要删除吗？`|$.T}}');" title="{{`删除`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>		
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script>
$(function(){
	$('#pcont').on('click','#navigate-list-container input.switch-disabled',function(){
		App.switchStatus(this,'disabled','manager/frontend/route_rewrite_edit');
	});
});
</script>
{{/Block}}
{{/Strip}}