{{Strip}}{{- $v := . -}}
{{- $adIdent := $v.ident | Default `` -}}
{{- $ad := Advert $adIdent -}}
{{- if $ad.Valid -}}
<div class="ad-campaign content-center">
{{- $ad.Rand.HTML -}}
</div>
{{- else -}}
<div class="ad-campaign bg-cover" style="background-image: url('{{if $v.bgImage}}{{$v.bgImage}}{{else}}{{AssetsXURL}}/blogdefault/img/add-campaign-1.png{{end}}')">
    <div class="content-left">
        {{- if or $v.ident $v.badge -}}
        <span class="discount">{{if $v.badge}}{{$v.badge}}{{else}}{{printf `广告位#%s` (ToUpper $v.ident)}}{{end}}</span>
        {{- end -}}
        {{- if $v.title -}}
        <h3 class="heading-primary mt-10">{{$v.title}}</h3>
        {{- end -}}
    </div>
    <div class="content-right">
        {{- if $v.subtitle -}}
        <h4>{{$v.subtitle}}</h4>
        {{- end -}}
        <div class="content">
            <p class="body-text">
                {{$v.content}}
            </p>
            {{- if $v.url -}}
            <a href="{{$v.url}}" class="button icon-button active">
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
            {{- end -}}
        </div>
    </div>
</div>
{{- end -}}
{{/Strip}}