{{Strip}}{{- $v := . -}}
<!-- Ad banner -->
{{- $adIdent := $v.ident | Default `` -}}
{{- $ad := Advert $adIdent -}}
{{- if $ad.Valid -}}
<div class="widget-ad-banner content-center">
{{- $ad.Rand.HTML -}}
</div>
{{- else -}}
<div class="widget-ad-banner bg-cover" style="background-image: url('{{if $v.bgImage}}{{$v.bgImage}}{{else}}{{AssetsXURL}}/blogdefault/img/recent-post/add-banner2.png{{end}}')">
    <div class="content">
        {{- if or $v.ident $v.badge -}}
        <span class="discount">{{if $v.badge}}{{$v.badge}}{{else}}{{printf `广告位#%s` (ToUpper $v.ident)}}{{end}}</span>
        {{- end -}}
        {{- if $v.title -}}
        <h2 class="heading-primary">{{$v.title}}</h2>
        {{- end -}}
        <p class="body-text">{{$v.content}}</p>
        {{- if $v.url -}}
        <a href="{{$v.url}}" class="button icon-button active">
            <span>
                <i class="fas fa-chevron-right"></i>
            </span>
        </a>
        {{- end -}}
    </div>
</div>
{{- end -}}
{{/Strip}}