{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/tool/area/index">{{$.Stored.title}}</a></li>
{{range $k,$v := $.Stored.positions}}
<li><a href="{{BackendURL}}/tool/area/index?pid={{$v.Id}}">{{$v.Name}}</a></li>
{{end}}
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a href="{{BackendURL}}/tool/area/group_index" class="btn btn-primary pull-right">
					<i class="fa fa-table"></i>
					{{"地区分组"|$.T}}
				</a>
				<a href="{{BackendURL}}/tool/area/add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加地区"|$.T}}
				</a>
				<a href="javascript:;" class="btn btn-danger pull-right" onclick="App.removeSelected('input:checkbox[name=\'id[]\']','id','tool/area/delete');">
					<i class="fa fa-trash-o"></i>
					{{"删除选中"|$.T}}
				</a>
				<h3>{{$.Stored.title}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th style="width:30px"><div class="checkbox checkbox-primary no-margin-y"><input type="checkbox" id="checkedAll"><label for="checkedAll"></label></div></th>
							<th style="width:80px"><strong>{{"ID"|$.T}}</strong></th>
							<th><strong>{{"地区名"|$.T}}</strong></th>
							<th><strong>{{"拼音"|$.T}}</strong></th>
							<th style="width:100px"><strong>{{"区号"|$.T}}</strong></th>
							<th style="width:100px"><strong>{{"邮编"|$.T}}</strong></th>
							<th><strong>{{"经纬度"|$.T}}</strong></th>
							<th style="width:140px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
						{{range $k,$v := $.Stored.listData}}
						<tr>
							<td>
                                <div class="checkbox checkbox-primary no-margin-y"><input id="checkbox-{{$k}}" class="check-table" type="checkbox" name="id[]" value="{{$v.Id}}"><label for="checkbox-{{$k}}"></label></div>
							</td>
							<td>{{$v.Id}}</td>
							<td>{{$v.Name}}</td>
							<td>{{$v.Pinyin}}</td>
							<td>{{$v.Code}}</td>
							<td>{{$v.Zip}}</td>
							<td>{{$v.Lng}}, {{$v.Lat}}</td>
							<td class="text-center">
							<a class="label label-info" href="{{BackendURL}}/tool/area/index?pid={{$v.Id}}" title="{{"下级地区"|$.T}}" data-toggle="tooltip"><i class="fa fa-list"></i></a>
							<a class="label label-default" href="{{BackendURL}}/tool/area/add?copyId={{$v.Id}}" title="{{"复制"|$.T}}" data-toggle="tooltip"><i class="fa fa-copy"></i></a>
							<a class="label label-success" href="{{BackendURL}}/tool/area/edit?id={{$v.Id}}" title="{{"编辑"|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a> 
							<a class="label label-danger" href="{{BackendURL}}/tool/area/delete?id={{$v.Id}}" onclick="return confirm('{{"真的要删除吗？"|$.T}}');" title="{{"删除"|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        {{end}}
					</tbody>
				</table>		
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script>
$(function(){
App.attachCheckedAll('#checkedAll','input[type=checkbox][name="id[]"]');
});
</script>
{{/Block}}