{{Extend "layout"}}
{{Block "title"}}{{"模板列表"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"模板列表"|$.T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				<a href="{{BackendURL}}/official/page/template_add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加模板"|$.T}}
				</a>							
				<h3>{{"模板列表"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th style="width:100px"><strong>{{"预览"|$.T}}</strong></th>
							<th><strong>{{"模板"|$.T}}</strong></th>
							<th style="width:165px"><strong>{{"版本"|$.T}}</strong></th>
							<th style="width:200px"><strong>{{"作者"|$.T}}</strong></th>
							<th style="width:80px"><strong>{{"启用"|$.T}}</strong></th>
							<th style="width:50px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y" id="tbody-template-list">
                        {{range $k,$v := $.Stored.listData}}
						<tr>
							<td class="no-padding-x">
								<div style="width:100px;height:100px;overflow:hidden;">
									{{- if $v.Embed -}}
									<span class="label label-primary" style="position:absolute">{{`内置`|$.T}}</span>
									{{- end -}}
									<img class="image-zoom" data-mfp-src="{{if $v.PreviewImage}}{{BackendURL}}/official/page/template_index?op=preview&name={{$v.Name}}{{else}}{{AssetsURL}}/images/user_128.png{{end}}" src="{{if $v.PreviewImage}}{{BackendURL}}/official/page/template_index?op=preview&name={{$v.Name}}{{else}}{{AssetsURL}}/images/user_128.png{{end}}" onerror="this.src='{{AssetsURL}}/images/user_128.png';" style="width:100px;object-fit:cover;" />
								</div>
							</td>
							<td>
                                <strong>{{$v.Title|Default $v.Name}}</strong>
								({{$v.Name}})
                                {{- if $v.PreviewURL -}}
                                <a href="{{$v.PreviewURL}}" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="{{`预览网址`|$.T}}">
                                    <span class="label label-success label-xs"><i class="fa fa-eye"></i></span>
                                </a>
                                {{- end -}}
                                <p class="text-grey">{{$v.Description|Default ($.T `无说明`)}}</p>
								{{- if $v.Fallback -}}
								<em class="text-grey">
								{{`后备模板`|$.T}}:
								{{ range $fk, $fv := $v.Fallback -}}
								{{- if gt $fk 0}} / {{end -}}
								{{- $fv -}}
								{{- end -}}
								</em>
								{{- end -}}
                            </td>
                            <td>
                                {{`版本`|$.T}}: v{{$v.Version}}<br />
                                {{`更新`|$.T}}: {{$v.UpdatedAt}}
                            </td>
                            <td>
                                {{`作者`|$.T}}: {{$v.Author.Name}}<br />
                                {{`电邮`|$.T}}: {{$v.Author.Email}}<br />
                                {{`网址`|$.T}}: <a href="{{$v.Author.URL}}" target="_blank" rel="noopener noreferrer">{{$v.Author.URL}}</a>
                            </td>
							<td>
								<div class="radio radio-success no-margin-y">
									<input id="radio-enabled-{{$v.Name}}" name="theme[enabled]" type="radio"{{if eq $v.Name $.Stored.current.Name}} checked="checked"{{end}} value="{{$v.Name}}" /><label for="radio-enabled-{{$v.Name}}">&nbsp;</label>
								</div>
							</td>
							<td class="text-center label-group">
							<a class="label label-primary" href="{{BackendURL}}/official/page/template_config?name={{$v.Name}}" title="{{`配置`|$.T}}" data-toggle="tooltip"><i class="fa fa-gear"></i></a>
							<a class="label label-success" href="{{BackendURL}}/official/page/template_edit?name={{$v.Name}}" title="{{`编辑`|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
							<a class="label label-danger" href="{{BackendURL}}/official/page/template_delete?name={{$v.Name}}" onclick="return confirm('{{`真的要删除吗？`|$.T}}');" title="{{`删除`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        {{end}}
					</tbody>
				</table>		
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script>
$(function(){
$('#tbody-template-list .image-zoom').each(function(){App.editor.popup(this);});
$('input[name="theme[enabled]"]').on('click',function(){
	$.post(BACKEND_URL+'/official/page/template_enable',{name:$(this).val()},function(r){
		if(r.Code!=1) return App.message({text:r.Info,type:'error'});
	});
})
});
</script>
{{/Block}}