{{Extend "layout"}}
{{Block "title"}}{{"消息管理"|$.T}}{{/Block}}
{{Block "head"}}
{{/Block}}
{{Block "bodyNav"}}
{{Include "official/user/message/leftnav"}}
{{/Block}}
{{Block "bodyClass"}}no-padding{{/Block}}
{{Block "main"}}
{{- $boxType := $.Stored.boxType -}}
<div class="mail-inbox">
    <div class="head">
        <h3>
            {{$.Stored.boxTypeName}} 
            <span>({{$.T "%v条数据" $.Stored.pagination.Rows}})</span>
        </h3>
        <form action="{{$.URL.Path}}" method="GET">
        {{- range $field, $values := $.Queries -}}
        {{- if ne $field "q" -}}
        {{- range $k, $value := $values -}}
        <input type="hidden" name="{{$field}}" value="{$value}">
        {{- end -}}
        {{- end -}}
        {{- end -}}
        <input type="text" name="q" class="form-control" value="{{$.Form "q"}}" placeholder="{{"搜索消息"|$.T}}..." />
        </form>
    </div>
    <div class="filters">
        <div class="checkbox checkbox-inline checkbox-success xs-margin-top">
            <input id="check-all" type="checkbox" name="checkall" onclick="App.checkedAll(this,'.mails input:checkbox[id^=check-]')" />
            <label for="check-all" class="no-margin-bottom">{{"全选"|$.T}}</label>
        </div>
        <div class="btn-group no-padding">
            <button type="button" class="btn btn-danger btn-sm no-margin" id="delete-selected">
                <i class="fa fa-trash"></i>
                {{"删除"|$.T}}
            </button>
        </div>
        <div class="btn-group pull-right">
            {{$.Stored.pagination.Render "pagination_btn"}}
        </div>
        <!-- {{/*Include "official/user/message/list_btn_sort"*/}} -->
    </div>
    <div class="mails">
        {{range $k, $v := $.Stored.list}}
        <div class="item" style="cursor:auto">
            <div>
                <div class="checkbox checkbox-success">
                    <input type="checkbox" id="check-{{$v.Id}}" name="messageId[]" value="{{$v.Id}}" />
                    <label for="check-{{$v.Id}}"></label>
                </div>
            </div>
            <div>
                <div class="col-md-8">
                <h4 class="from"><a href="{{BackendURL}}/user/message/view/{{$boxType}}/{{$v.Id}}">{{$v.Title}}</a></h4>
                <p class="msg">{{Substr (StripTags $v.Content) "..." 80}}</p>
                </div>
                <div class="col-md-4">
                <div class="friend-widget no-padding no-margin-bottom">
                    <a{{if eq $v.MsgUser.Type "customer"}} href="{{FrontendURL}}/u/{{$v.MsgUser.Id}}" target="_blank"{{end}}><img src="{{if $v.MsgUser.Avatar}}{{AddSuffix $v.MsgUser.Avatar "_200_200"}}{{else}}{{AssetsURL}}/images/user_50.png{{end}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';"></a>
                    <h4><a{{if eq $v.MsgUser.Type "customer"}} href="{{FrontendURL}}/u/{{$v.MsgUser.Id}}" target="_blank"{{end}}>{{$v.MsgUser.Name}}</a></h4>
                    <p><span class="date">{{$v.Created|$.TsHumanize}}</span></p>
                </div>
                </div>

            </div>
        </div><!-- /.item -->
        {{else}}

		 <div class="alert alert-warning alert-white rounded">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<div class="icon"><i class="fa fa-warning"></i></div>
			<strong><i class="fa fa-smile-o"></i></strong> {{"暂时没有任何数据哟～"|$.T}}
		 </div>
        {{end}}
    </div><!-- /.mails -->
</div><!-- /.mail-inbox -->
{{/Block}}
{{Block "footer"}}
<script>
$(function(){
    $('#delete-selected').on('click',function(){
        var s=$('.mails input:checkbox[id^=check-]:checked');
        if(s.length<=0){
            return App.message({title:App.i18n.SYS_INFO,text:'{{"请选中要删除的项"|$.T}}',type:'warning'});
        }
        if(!confirm('{{"确定要删除选中的这些消息码？"|$.T}}')) return;
        console.dir(s.serializeArray())
        $.post(BACKEND_URL+'/user/message/delete',s.serializeArray(),function(r){
            if(r.Code!=1) return App.message({title:App.i18n.SYS_INFO,text:r.Info,type:'error'});
            App.message({title:App.i18n.SYS_INFO,text:r.Info,type:'success'});
            window.setTimeout(function(){
                window.location.reload();
            },1000);
        },'json')
    });
    App.tableSorting();
});
</script>
{{/Block}}