{{Extend "layout"}}
{{Block "title"}}{{"发送消息"|$.T}}{{/Block}}
{{Block "head"}}
<link rel="stylesheet" type="text/css" href="{{AssetsURL}}/js/selectpage/selectpage.css?t={{BuildTime}}" />
{{/Block}}
{{Block "bodyNav"}}
{{Include "official/user/message/leftnav"}}
{{/Block}}
{{Block "bodyClass"}}no-padding{{/Block}}
{{Block "main"}}
<div class="block-flat no-margin no-border">
  <div class="header">							
    <h3>{{"发送消息"|$.T}}</h3>
  </div>
  <div class="content">
    <form class="form-horizontal group-border-dashed" data-parsley-validate novalidate method="POST" action="" id="message-send-form">
    {{if gt $.Stored.replyId 0}}
    {{$data := $.Stored.replyMsg}}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"回复消息"|$.T}}</label>
      <div class="col-sm-9">
        <blockquote>
          <div id="message-content">
          {{- if eq $data.Contype "markdown" -}}
          <div class="markdown-code">{{- OutputContent $data.Content $data.Contype -}}</div>
          {{- else -}}
          {{- OutputContent $data.Content $data.Contype -}}
          {{- end -}}
          </div>
          <small>{{$.Stored.replySender}}</small>
        </blockquote>
      </div>
    </div>
    {{else}}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"收信人"|$.T}}</label>
      <div class="col-sm-9">
        {{$recipientId := ($.Formx "recipientId").Uint64}}
        {{$recipientType := $.Form "recipientType"}}
        <div class="input-group no-margin-bottom">
            <span class="input-group-btn">
                <select name="recipientType" id="recipientType" class="form-control" style="width:100px">
                    <option value="user"{{if eq $recipientType "user"}} selected="selected"{{end}}>{{"后台用户"|$.T}}</option>
                    <option value="customer"{{if eq $recipientType "customer"}} selected="selected"{{end}}>{{"前台客户"|$.T}}</option>
                </select>
            </span>
            <input type="text" name="recipientId" id="recipientId" data-init="{{$recipientId}}" value="{{$recipientId}}" class="form-control">
        </div>
      </div>
    </div>
    {{end}}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"消息标题"|$.T}}</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" required name="title" value="{{$.Form "title"}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"消息内容"|$.T}}</label>
      <div class="col-sm-9">
        <textarea name="content" id="content" placeholder="{{`消息内容`|$.T}}" action="{{BackendUploadURL ``}}">{{$.Form "content"}}</textarea>
        <input type="hidden" name="contentType" value="{{$.Form `contentType` `html`}}">
        <input type="hidden" name="replyId" value="{{$.Stored.replyId}}">
      </div>
    </div>
      <div class="form-group form-submit-group">
        <div class="col-sm-2 control-label">
          {{$v := $.Form "encrypted"}}
          <div class="checkbox checkbox-success">
            <input type="checkbox" value="Y" name="encrypted" id="encrypted-Y"{{if eq $v "Y"}} checked{{end}}> 
            <label class="text-left" for="encrypted-Y">{{"加密"|$.T}}</label>
          </div>
        </div>
				<div class="col-sm-9">
					<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-share"></i> {{"发送"|$.T}}</button>
					<button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|$.T}}</button>
				</div>
			</div>
    </form>
  </div><!-- /.content -->
</div><!-- /.block-flat -->
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/selectpage/selectpage.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script>
$(function () {
  $('#recipientId').selectPage({
    showField : 'name',
    keyField : 'id',
    data : BACKEND_URL+'/user/message/send',
    params : function(){return {"operate":$('#recipientType').val()};},
    eAjaxSuccess : function(d){
        var result;
        if(d && d.Data && d.Data.listData && d.Data.pagination) result = {
          "list":d.Data.listData,
          "pageSize": d.Data.pagination.limit,
          "pageNumber": d.Data.pagination.page,
          "totalRow": d.Data.pagination.rows,
          "totalPage":d.Data.pagination.pages
        };
        else result = undefined;
        return result;
    }
  });
  $('#recipientType').off().on('change',function(){
    $('#recipientId').selectPageClear();
  });
  App.editor.tinymces('#content');
  $('#message-send-form').on('submit',function(e){
      e.preventDefault();
      $.post(window.location.href,$(this).serializeArray(),function(r){
          if(r.Code!=1){
              return App.message({title:App.i18n.SYS_INFO,text:r.Info,type:'error'});
          }
          return App.message({title:App.i18n.SYS_INFO,text:r.Info,type:'success'});
      },'json');
  });
  if($('#message-content').length>0) App.editor.markdownToHTML('#message-content');
});
</script>
{{/Block}}