{{Extend "layout"}}
{{Block "title"}}{{"广告管理"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
{{- $positionInfo := $.Stored.positionInfo -}}
{{- if $positionInfo -}}
<li>
	<a href="{{BackendURL}}/official/advert/index">{{`全部广告`|$.T}}</a>
</li>
<li>
	{{`广告位:`|$.T}}
	<a href="{{BackendURL}}/official/advert/index?positionId={{$positionInfo.Id}}">{{$positionInfo.Name}}</a>
	(<span data-toggle="tooltip" title="{{`标识`|$.T}}: {{$positionInfo.Ident}}">{{$positionInfo.Ident}}</span>)
</li>
{{- end -}}
<li class="active">{{"广告管理"|$.T}}</li>
{{/Block}}
{{Block "head"}}
<link rel="stylesheet" href="{{AssetsURL}}/css/page/advert/list.css?t={{BuildTime}}" type="text/css">
<link rel="stylesheet" href="{{AssetsURL}}/js/float/powerFloat.min.css?t={{BuildTime}}" charset="utf-8" />
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a href="{{BackendURL}}/official/advert/add?positionId={{$.Form `positionId`}}" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加广告"|$.T}}
				</a>
				<h3>
					{{"广告列表"|$.T}}
				</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th><strong>{{"ID"|$.T}}</strong></th>
							<th><strong>{{"序号"|$.T}}</strong></th>
							<th><strong>{{"名称"|$.T}}</strong></th>
							<th><strong>{{"类型"|$.T}}</strong></th>
							<th><strong>{{"广告位"|$.T}}</strong></th>
							<th><strong>{{"有效期"|$.T}}</strong></th>
							<th><strong>{{"显示"|$.T}}</strong></th>
							<th><strong>{{"广告"|$.T}}</strong></th>
							<th style="width:110px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
                        {{range $k,$v := $.Stored.listData}}
						<tr>
							<td>{{$v.Id}}</td>
							<td>{{$v.Sort}}</td>
							<td>{{$v.Name}}</td>
							<td>{{$v.Contype}}</td>
							<td>{{if $v.AdPosition}}<a href="{{BackendURL}}/official/advert/index?positionId={{$v.AdPosition.Id}}">{{$v.AdPosition.Name}}</a>{{else}}-{{end}}</td>
							<td>
								{{if and (gt $v.Start 0) (gt $v.End 0)}}
								{{$v.Start|DateFormat "2006-01-02 15:04:05"}} ~ {{$v.End|DateFormat "2006-01-02 15:04:05"}}
								{{else if gt $v.Start 0}}
								{{$v.Start|DateFormat "2006-01-02 15:04:05"}}{{"以后"|$.T}}
								{{else if gt $v.End 0}}
								{{$v.End|DateFormat "2006-01-02 15:04:05"}}{{"以前"|$.T}}
								{{else}}
								{{"不限制"|$.T}}
								{{end}}
							</td>
							<td>
								<div class="checkbox checkbox-success no-margin-y">
									<input id="checkbox-{{$k}}" class="styled switch-disabled" type="checkbox" data-id="{{$v.Id}}"{{if eq $v.Disabled `N`}} checked="checked"{{end}} value="Y" /><label for="checkbox-{{$k}}">&nbsp;</label>
								</div>
							</td>
							<td><div class="rendered">{{$v.Rendered|ToHTML}}</div></td>
							<td class="label-group">
								<a class="label label-default" href="{{BackendURL}}/official/advert/add?copyId={{$v.Id}}" title="{{`复制`|$.T}}" data-toggle="tooltip"><i class="fa fa-copy"></i></a> 
								<a class="label label-success" href="{{BackendURL}}/official/advert/edit?id={{$v.Id}}" title="{{`编辑`|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a> 
								<a class="label label-danger" href="{{BackendURL}}/official/advert/delete?id={{$v.Id}}" onclick="return confirm('{{`真的要删除吗？`|$.T}}');" title="{{`删除`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        {{end}}
					</tbody>
				</table>		
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/float/powerFloat.min.js?t={{BuildTime}}"></script>
<script>
$(function(){
	App.bindSwitch('input.switch-disabled','click','official/advert/edit');
  	App.float(".rendered img.previewable");
});
</script>
{{/Block}}