{{Extend "user/base"}}
{{Block "body"}}
{{Super}}
<div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"会员套餐"|$.T|UpperCaseFirst}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|$.T|UpperCaseFirst}}</a>
      <span class="breadcrumb-item active">{{"会员套餐"|$.T|UpperCaseFirst}}</span>
    </nav>
  </div>

<div class="main-body pd-20">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-block bd-0 rounded-0 pd-30 pd-sm-60 pd-t-0-force">
                {{- if gt (len $.Stored.groupList) 1 -}}
                <ul class="nav nav-outline nav-gray d-block d-sm-flex justify-content-center" role="tablist">
                    {{- range $k, $v := $.Stored.groupList -}}
                    <li class="nav-item"><a class="nav-link{{if eq $.Stored.group $v.K }} active{{end}}" href="?group={{$v.K}}">{{$v.V|$.T|UpperCaseFirst}}</a></li>
                    {{- end -}}
                </ul>
                {{- end -}}
                <div class="row justify-content-center mg-t-30 mg-sm-t-60">
                  {{- $myLevel := $.Stored.myLevel -}}
                  {{- if $myLevel -}}
                  <div class="col-md-10">
                    <div class="alert alert-solid alert-info" role="alert">
                      <div class="d-flex align-items-center justify-content-start">
                        <i class="icon ion-ios-checkmark alert-icon tx-size-32 mg-t-5 mg-xs-t-0"></i>
                        <p>
                          <strong class="mg-r-20 nowrap">{{`我的套餐`|$.T|UpperCaseFirst}}</strong>
                          {{- if $myLevel.Level -}}
                          <span class="mg-r-20 nowrap">{{`我的等级：`|$.T}}{{$myLevel.Level.Name}}</span>
                          {{- end -}}
                          <span class="nowrap">{{`过期时间：`|$.T}}
                          {{- if gt $myLevel.Expired 0 -}}
                            {{- (Date $myLevel.Expired).Format "2006-01-02 15:04:05" -}}
                          {{- else -}}
                            {{`终身有效`|$.T}}
                          {{- end -}}</span>
                        </p>
                      </div>
                    </div>
                    </div>
                  {{- end -}}
                  <div class="col-lg-10">
                    <div class="card-deck">
                    {{- range $k, $v := $.Stored.packageList -}}
                      <div class="card rounded-0 tx-center">
                        <div class="card-block">
                          {{- if $v.IconImage -}}
                          <div class="mg-b-20 mg-t-20"><img src="{{$v.IconImage}}" alt="{{$v.Title}}"></div>
                          {{- else -}}
                          <i class="{{if $v.IconClass}}{{$v.IconClass}}{{else}}icon ion-model-s{{end}} tx-size-100 tx-gray-dark d-block"></i>
                          {{- end -}}
                          <h4 class="tx-inverse mg-b-30 tx-bold">{{$v.Title}}</h4>
                          <p class="tx-size-sm mg-b-30">{{$v.Description|Nl2br}}</p>
                        </div><!-- card-block -->
                        <div class="card-footer pd-b-30 bd-t-0">
                          <h1 class="mg-b-30 tx-inverse tx-arimo tx-bold">
                            {{call $.Func.Currency $v.Price true}}
                            <small>{{call $.Func.timeUnitSuffix $v.TimeDuration $v.TimeUnit}}</small>
                         </h1>
                          <a href="{{$.WithNextURL (printf `/user/membership/buy/%d` $v.Id)}}" target="_blank" class="btn bg-gray-dark tx-white tx-size-xs tx-uppercase">{{`立即购买`|$.T}}</a>
                        </div><!-- card-footer -->
                      </div><!-- card -->
                    {{- else -}}
                    <div class="alert alert-warning alert-bordered wd-100p" role="alert">
                      <div class="d-flex align-items-center justify-content-start">
                        <i class="icon ion-alert-circled alert-icon tx-size-52 tx-warning mg-r-20"></i>
                        <div class="ml50">
                          <h5 class="mg-b-2 tx-warning">{{`暂无数据`|$.T}}</h5>
                          <p class="mg-b-0 tx-gray">{{`网站管理员还没有添加会员套餐`|$.T}}</p>
                        </div>
                      </div>
                    </div>
                    {{- end -}}
                    </div><!-- row -->
                  </div><!-- col-10 -->
                </div><!-- row -->
            </div>
        </div>
    </div>
</div><!-- main-body -->

</div><!-- main -->
{{/Block}}

{{Block "footer"}}
{{Super}}
{{/Block}}
