{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}: {{$.Stored.tableTitle}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/tool/translation/index">{{$.Stored.title}}</a></li>
<li>{{$.Stored.tableTitle}}</li>
{{/Block}}
{{Block "bodyNav"}}
{{Include "official/tool/translation/index_nav"}}
{{/Block}}
{{Block "main"}}
{{- $tableFields := call $.Func.tableFields -}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a data-ajax-url="{{BackendURL}}/tool/translation/translate" data-ajax-accept="json" class="btn btn-warning pull-right">
					<i class="fa fa-table"></i>
					{{"开始翻译"|$.T}}
				</a>
				<h3>{{$.Stored.tableTitle|Default $.Stored.title}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive" data-pattern="priority-columns">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th data-priority="2" style="width:50px"><strong>{{"ID"|$.T}}</strong></th>
							{{- range $index,$field := $tableFields -}}
							<th data-priority="1"><strong>{{$field}}</strong></th>
							{{- end -}}
							<th style="width:60px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
						{{- range $k,$v := $.Stored.listData -}}
						<tr>
							<td>{{$v.id}}</td>
							{{- range $index,$field := $tableFields -}}
							{{- $inputType := call $.Func.inputType $field -}}
							<td>
								<fieldset class="fieldset">
									<legend>{{- call $.Func.langTitle `` -}}</legend>
									<div>
										<div class="wrap-only editable" data-pk="{{$v.id}}" data-lang="" data-name="{{$field}}" data-type="{{$inputType}}" data-value="{{index $v $field}}">{{index $v $field}}</div>
									</div>
								</fieldset>
								{{- range $lidx,$lang := $.Stored.langs -}}
								{{- if ne $lang $.Stored.langDefault -}}
								{{- $translation := `` -}}
								{{- if $v._translations -}}
								{{- $translation = index $v._translations $lang -}}
								{{- end -}}
								<fieldset class="fieldset">
									<legend>{{- call $.Func.langTitle $lang -}}</legend>
									<div>
										<div class="wrap-only editable" data-pk="{{$v.id}}" data-lang="{{$lang}}" data-name="{{$field}}" data-type="{{$inputType}}" data-value="{{if $translation}}{{index $translation $field}}{{end}}">{{if $translation}}{{index $translation $field}}{{end}}</div>
									</div>
								</fieldset>
								{{- end -}}
								{{- end -}}
							</td>
							{{- end -}}
							<td class="text-center label-group">
								{{- $editURL := call $.Func.editURL $v.id -}}
								{{- if $editURL -}}
								<a class="label label-success" href="{{BackendURL}}{{$editURL}}" title="{{`编辑`|$.T}}" data-toggle="tooltip" target="_blank">
									<i class="fa fa-pencil"></i>
								</a>
								{{- end -}}
							</td>
						</tr>
                        {{- end -}}
					</tbody>
				</table>
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script>
$(function(){
App.attachCheckedAll('#checkedAll','input[type=checkbox][name="id[]"]');
App.editor.editable('fieldset>div', {
	url: '{{BackendURL}}/tool/translation/edit?table={{$.Stored.table}}',
	title: '{{`编辑翻译`|$.T}}',
	params: function(params){
		var data = $(this).data();
		params.table = '{{$.Stored.table}}';
		params.lang = data.lang;
		return params;
	},
});
});
</script>
{{/Block}}
