 <!-- Comments -->
 <div id="comment-list-container" data-replace-state="1">
    {{- $commentList := commentList -}}
    {{- range $k, $v := $commentList -}}
    <div class="comment-card">
        <div class="card-top">
            <div class="card-meta">
                <div class="meta-item post-author">
                    <div><img src="{{if $v.Extra.avatar}}{{AddSuffix $v.Extra.avatar `_200_200`}}{{else}}{{AssetsURL}}/images/user_50.png{{end}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';" class="author-avatar bg-info bg-cover" alt="{{$v.Extra.name}}"></div>
                    <a href="#" class="author-name">{{$v.Extra.name}}</a>
                    {{if $v.Extra.isTargetAuthor}}&nbsp;<span class="badge bg-primary">{{"作者"|$.T}}</span>{{end}}
                    {{if $v.Extra.isBought}}&nbsp;<span class="badge bg-success">{{"已购买"|$.T}}</span>{{end}}
                    {{if $v.Extra.isAdmin}}&nbsp;<span class="badge bg-warning">{{"管理员"|$.T}}</span>{{end}}
                </div>
                <span class="meta-item" title="{{(DateFormat `2006-01-02 15:04` $v.Created)}}"> {{TimeAgo $v.Created}} </span>
                <span class="meta-item"> {{$.T `%d楼` $v.FloorNumber}} </span>
            </div>
            <div class="button button-reply">
                <a href="javascript:;" class="button button-reply" data-toggle="modal" data-target="#modal-comment-form" data-comment-id="{{$v.Id}}" data-root-id="{{$v.RootId}}" data-comment-author="{{$v.Extra.name}}" data-comment-content="#comment-content-{{$v.Id}}">
                <span>
                    <img src="{{AssetsXURL}}/blogdefault/img/icons/corner-left-down.png" alt="" />
                </span>
                {{`回复`|$.T}}
                </a>
                {{if not $.Stored.flat}}
                (<a href="javascript:;" data-reply-id="{{$v.Id}}">{{$v.Replies}}</a>)
                {{end}}
            </div>
        </div>
        <div class="body-text{{if eq $v.Contype `markdown`}} markdown-code{{end}}" id="comment-content-{{$v.Id}}">
            {{- if gt $v.ReplyCommentId 0 -}}
            <span class="reply-head">
                <span>{{"回复"|$.T}}</span>
                <a href="#" class="author-name">{{$v.Extra.repliedCustomerName}}</a>
                {{if gt $v.ReplyFloorNumber 0 -}}
                <span>{{$.T "%d楼" $v.ReplyFloorNumber}}</span>
                {{- end -}}
            </span>
            {{- end -}}
            {{- OutputContent $v.Content $v.Contype -}}
        </div>
    </div>
    {{if not $.Stored.flat}}
    <div id="reply-list-box-{{$v.Id}}" data-url="/article/comment_reply_list?commentId={{$v.Id}}"></div>
    {{end}}
    {{- end -}}
{{- if $commentList -}}
    {{- $paging := $.Get `paginationComment` -}}
    {{- if $paging -}}
    {{- ($paging.SetNum 1).Render -}}
    {{- else -}}
    {{- ($.Stored.pagination.SetNum 1).Render -}}
    {{- end -}}
{{- end -}}
</div><!-- /#comment-list-container -->