{{Strip}}{{Extend "#blogdefault#base"}}
{{Block "title"}}{{- "文章列表"|$.T -}}{{range $index, $category := $.Stored.categories}} - {{$category.Name}}{{- end -}}{{/Block}}
{{Block "keywords"}}{{- "文章列表"|$.T -}}{{range $index, $category := $.Stored.categories}},{{$category.Name}}{{- end -}}{{/Block}}
{{Block "description"}}{{/Block}}
{{Block "body"}}
        <!-- ============= BLOG LIST ============= -->
        <section class="blog-list-wrapper section-padding">
            <div class="container">
                <div class="section-head">
                    {{- $categoryEndIndex := Sub (len $.Stored.categories) 1 -}}
                    <h2 class="heading-secondary">
                        {{- if ge $categoryEndIndex 0 -}}
                        {{- $category := index $.Stored.categories $categoryEndIndex -}}
                        {{$category.Name}}
                        {{- else -}}
                        {{`全部分类`|$.T}}
                        {{- end -}}
                    </h2>
                    <ul class="c-bredcrumb">
                        <li>
                            <a href="{{FrontendURL}}/"> {{`首页`|$.T}} </a>
                        </li>
                        <li><a href="{{FrontendURL}}/articles">{{`文章列表`|$.T}}</a></li>
                        {{range $index, $category := $.Stored.categories -}}
                        <li><a href="{{$.Stored.listURL}}?categoryId={{$category.Id}}">{{$category.Name}}</a></li>
                        {{- end -}}
                    </ul>
                </div>
                <div class="row gy-5">
                    <div class="col-lg-9">
                        <div class="left-content">
                            <!-- Post card -->
                            {{- range $k, $v := $.Stored.articles -}}
                            <div class="post-card">
                                {{- if $v.Image -}}
                                <a href="{{URLByName `article.detail` $v.Id}}">
                                    <img src="{{$v.ImageOriginal}}" class="card-thumb bg-cover" alt="{{$v.Title}}" onerror="this.onerror=null;this.src='{{AssetsXURL}}/images/placeholder/default-sm.jpg';" style="min-height:300px;height:300px">
                                </a>
                                {{- end -}}
                                <div class="card-content">
                                    <div class="card-meta">
                                        <div class="meta-item post-author">
                                            {{- if $v.Category -}}
                                            <span class="category">{{$v.Category.Name}}</span>
                                            {{- end -}}
                                            {{- if $v.Customer -}}
                                            <a href="{{URLByName `user.home` $v.Customer.Id}}" class="author-name">{{$v.Customer.Name}}</a>
                                            {{- else if $v.User -}}
                                            <span class="author-name">{{$v.User.Username}}</span>
                                            {{- else -}}
                                            <span class="author-name">{{`未知`|$.T}}</span>
                                            {{- end -}}
                                        </div>
                                        <span class="meta-item"> {{(Date $v.Created).Format `2006-01-02`}} </span>
                                        <span class="meta-item">
                                            <i class="fa fa-comment"></i>
                                            {{$v.Comments}}
                                        </span>
                                        <span class="meta-item">
                                            <i class="fa fa-share-alt"></i>
                                        </span>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-info">
                                            <a href="{{URLByName `article.detail` $v.Id}}">
                                                <h3 class="heading-primary">
                                                    {{$v.Title}}
                                                </h3>
                                            </a>
                                            <p class="body-text">
                                                {{$v.Summary}}
                                            </p>
                                        </div>
                                        <a href="{{URLByName `article.detail` $v.Id}}" class="button icon-button">
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                        <!-- PAGINATION -->
                        {{($.Stored.pagination.SetNum 1).Render `#blogdefault#pagination`}}
                        <!-- ============= AD CAMPAIGN-2 ============= -->
                        {{Include "#blogdefault#common/ad_banner2" (MakeMap `ident` `ad6` `title` `虚位以待` `url` `#`)}}
                    </div>
                    <div class="col-lg-3">
                        {{Include "#blogdefault#article/right/right"}}
                    </div>
                </div>
            </div>
        </section>
{{/Block}}
{{/Strip}}