{{Strip}}{{Extend "layout"}}
{{Block "title"}}{{"分类管理"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"分类管理"|T}}</li>
{{/Block}}
{{Block "head"}}
<!-- <link href="{{AssetsURL}}/js/treetable/bootstrap-gtreetable.min.css?t={{BuildTime}}" rel="stylesheet" /> -->
<link href="{{AssetsURL}}/css/custom.css?t={{BuildTime}}" rel="stylesheet" />
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				<div class="pull-right" style="margin-left:10px">
					<form class="form-horizontal" action="" id="search-form" method="GET">
						<div class="input-group">
							<span class="input-group-addon">{{"组类型"|T}}</span>
							<select name="type" class="form-control" id="selectType" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|T}} - </option>
								{{$type := Stored.type}} 
								{{range $k, $v := Stored.typeList}}
								<option value="{{$v.K}}" {{if eq $type $v.K}} selected{{end}}>{{$v.V}}</option>
								{{end}}
							</select>
						</div>
					</form>
				</div>
				<a href="{{BackendURL}}/official/article/category_add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加分类"|T}}
				</a>							
				<h3>{{"分类列表"|T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th style="width:50px"><strong>ID</strong></th>
							<th><strong>{{"分类名称"|T}}</strong></th>
							<th style="width:100px"><strong>{{"类别"|T}}</strong></th>
							<th><strong>{{"分类说明"|T}}</strong></th>
							<th style="width:130px"><strong>{{"创建时间"|T}}</strong></th>
							<th style="width:90px"><strong>{{"显示在菜单"|T}}</strong></th>
							<th style="width:60px"><strong>{{"状态"|T}}</strong></th>
							<th style="width:150px" class="text-right"><strong>{{"操作"|T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y" id="category-list-container">
						{{Include "official/article/category_list_row"}}
					</tbody>
				</table>		
				</div>
				{{Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<!-- <script src="{{AssetsURL}}/js/template.js?t={{BuildTime}}" type="text/javascript"></script> -->
<script>
function switchDisabled(a){
	App.switchStatus(a,'disabled','official/article/category_edit');
}
function switchShowOnMenu(a){
	App.switchStatus(a,'showOnMenu','official/article/category_edit');
}
function expandStatus(a,expanded){
	var cClose='fa-plus-square-o',cOpen='fa-minus-square-o';
	if(expanded) return $(a).find('.'+cClose).removeClass(cClose).addClass(cOpen);
	return $(a).find('.'+cOpen).removeClass(cOpen).addClass(cClose);
}
function expandCategory(a){
	var tr=$(a).parent('tr'),id=$(a).data('id');
	var parents=tr.data('parents');
	var path=(parents?parents+'-':'')+id;
	if($(a).data('loaded')) {
		if($('tr[data-parents="'+path+'"]:first').is(':visible')){
			$('tr[data-parents="'+path+'"],tr[data-parents^="'+path+'-"]').hide();
			expandStatus(a,false);
		}else{
			$('tr[data-parents="'+path+'"],tr[data-parents^="'+path+'-"]').show();
			expandStatus(a,true);
		}
		return;
	}
	$(a).data('loaded',true);
	$.get(window.location.href,{partial:1,parentId:id,path:path},function(r){
		if(r){
			expandStatus(a,true);
			tr.after(r);
		}
	},'html');
}
$(function(){
	$('#pcont').on('click','#category-list-container input.switch-disabled',function(){
		switchDisabled(this);
	});
	$('#pcont').on('click','#category-list-container input.switch-showOnMenu',function(){
		switchShowOnMenu(this);
	});
	$('#pcont').on('click','#category-list-container td.category-name',function(){
		expandCategory(this);
	});
});
</script>
{{/Block}}
{{/Strip}}