{{Extend "layout"}}
{{Block "title"}}{{"友情链接管理"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/official/article/friendlink_index">{{"友情链接管理"|$.T}}</a></li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<a href="{{BackendURL}}/official/article/friendlink_add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加链接"|$.T}}
				</a>
				<h3>{{"链接列表"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive" data-pattern="priority-columns">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th data-priority="2" style="width:40px;"><strong>ID</strong></th>
							<th style="width:90px"><strong>LOGO</strong></th>
							<th><strong>{{"名称"|$.T}}</strong></th>
							<th data-priority="1"><strong>{{"分类"|$.T}}</strong></th>
							<th data-priority="3" style="width:80px"><strong>{{"验证"|$.T}}</strong></th>
							<th data-priority="5" style="width:80px"><strong>{{"回访"|$.T}}</strong></th>
							<th data-priority="1" style="width:80px"><strong>{{"状态"|$.T}}</strong></th>
							<th data-priority="6" style="width:175px"><strong>{{"时间"|$.T}}</strong></th>
							<th style="width:120px" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
                        {{range $k,$v := $.Stored.listData}}
						<tr>
							<td>{{$v.Id}}</td>
							<td class="no-padding-x text-middle"><a href="{{$v.Url}}" target="_blank"><img style="width:88px;height:31px" src="{{$v.Logo|Default (AssetsURL `/images/user_128.png`)}}" onerror="this.src='{{AssetsURL}}/images/user_128.png';" /></a></td>
							<td>
								<a href="{{$v.Url}}" target="_blank" class="text-bold">{{$v.Name}}</a>
								<br /><small>{{$v.Url}}</small>
							</td>
							<td>
								{{if $v.Category}}{{$v.Category.Name}}{{end}}
							</td>
							<td>
								{{$v.VerifyResult}}<br />
								{{if gt $v.VerifyTime 0}}{{(Date $v.VerifyTime `2006-01-02 15:04:05`)}}{{end}}
							</td>
							<td>
								{{$v.ReturnCount}}<br />
								{{if gt $v.ReturnTime 0}}{{(Date $v.ReturnTime `2006-01-02 15:04:05`)}}{{end}}
							</td>
							<td>
								{{- if eq $v.Process `idle` -}}
								<span>{{`待处理`|$.T}}</span>
								{{- else if eq $v.Process `success` -}}
								<span class="text-success">{{`通过`|$.T}}</span>
								{{- else if eq $v.Process `reject` -}}
								<span class="text-danger">{{`拒绝`|$.T}}</span>
								{{- else -}}
								<span class="text-default">{{$v.Process}}</span>
								{{- end -}}
							</td>
							<td>
								{{"创建"|$.T}}: {{(Date $v.Created).Format "2006-01-02 15:04:05"}}<br />
								{{"修改"|$.T}}: {{if gt $v.Updated 0}}{{(Date $v.Updated).Format "2006-01-02 15:04:05"}}{{else}}-{{end}}
							</td>
							<td class="text-center label-group">
							<a class="label label-default" href="{{BackendURL}}/official/article/friendlink_add?copyId={{$v.Id}}" title="{{`复制`|$.T}}" data-toggle="tooltip"><i class="fa fa-copy"></i></a>
							<a class="label label-success" href="{{BackendURL}}/official/article/friendlink_edit?id={{$v.Id}}" title="{{`编辑`|$.T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
							<a class="label label-danger" href="{{BackendURL}}/official/article/friendlink_delete?id={{$v.Id}}" onclick="return confirm('{{`真的要删除吗？`|$.T}}');" title="{{`删除`|$.T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        {{end}}
					</tbody>
				</table>
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>
	</div>
</div>
{{/Block}}
{{Block "footer"}}
<script>
$(function(){
});
</script>
{{/Block}}
