{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/official/customer/offline_pay/index">{{"线下转账管理"|$.T}}</a></li>
<li class="active">{{$.Stored.title}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat no-padding">
          <div class="header">							
            <h3>{{$.Stored.title}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" data-parsley-validate novalidate method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"目标类型"|$.T}}</label>
                <div class="col-sm-3">
							    <select name="targetType" class="form-control" id="targetType" required>
							    	<option value=""> - {{"不限"|$.T}} - </option>
							    	{{- $targetType := $.Form `targetType` -}}
							    	{{- range $k, $v := $.Stored.targetTypes -}}
							    	<option value="{{$v.K}}" {{if eq $targetType $v.K}} selected{{end}}>{{$v.V}}</option>
							    	{{- end -}}
							    </select>
                </div>
                <label class="col-sm-2 control-label">{{"目标ID"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="targetId" value="{{$.Form `targetId`}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"客户"|$.T}}</label>
                <div class="col-sm-3">{{- $customerId := $.Form `customerId` -}}
                  <input type="text" name="customerId" data-init="{{$customerId}}" value="{{$customerId}}" id="customerId">
                </div>
                <label class="col-sm-2 control-label">{{"归属ID"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="ownershipId" value="{{$.Form `ownershipId`}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"付款方式"|$.T}}</label>
                <div class="col-sm-3">
							    <select name="payMethod" class="form-control" id="payMethod" required>
							    	<option value=""> - {{"不限"|$.T}} - </option>
							    	{{- $payMethod := $.Form `payMethod` -}}
							    	{{- range $k, $v := $.Stored.payMethods -}}
							    	<option value="{{$v.K}}" {{if eq $payMethod $v.K}} selected{{end}}>{{$v.V}}</option>
							    	{{- end -}}
							    </select>
                </div>
                <label class="col-sm-2 control-label">{{"付款账号"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="payAccount" value="{{$.Form `payAccount`}}" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"付款金额"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="payAmount" value="{{$.Form `payAmount`}}" min="0.01" step="0.01" required>
                </div>
                <label class="col-sm-2 control-label">{{"银行支行"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="payBankBranch" value="{{$.Form `payBankBranch`}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"交易订单号"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="payTransactionNo" value="{{$.Form `payTransactionNo`}}">
                </div>
                <label class="col-sm-2 control-label">{{"开户人姓名"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="payOwner" value="{{$.Form `payOwner`}}">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">{{"付款时间"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="payTime" value="{{$.Form `payTime`}}">
                </div>
                <label class="col-sm-2 control-label">{{`处理状态`|$.T}}</label>
                <div class="col-sm-3">{{$v := $.Form `status` `pending`}}
                  {{- range $index, $value := $.Stored.statusList -}}
                  <div class="radio radio-primary radio-inline">
                    <input type="radio" value="{{$value.K}}" name="status" id="status-{{$value.K}}" {{- if eq $v $value.K}} checked="checked"{{end}}>
                    <label for="status-{{$value.K}}">{{$value.V|$.T}}</label>
                  </div>
                  {{- end -}}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"处理结果"|$.T}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="result">{{$.Form "result"}}</textarea>
                </div>
              </div>
              
              <div class="form-group form-submit-group">
									<div class="col-sm-9 col-sm-offset-2">
									  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|$.T}}</button>
									  <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|$.T}}</button>
									</div>
							</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}

{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script>
$(function(){
  App.editor.selectPage('#customerId',{data: BACKEND_URL+'/official/customer/index'})
})
</script>
{{/Block}}
