{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{$.Stored.title}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat no-padding">
			<div class="header">
				<div class="pull-right" style="margin-left:10px">
					<form class="form-horizontal" action="" id="search-form" method="GET">
						<div class="input-group">
							<span class="input-group-addon">{{"目标类型"|$.T}}</span>
							<select name="targetType" class="form-control" id="targetType" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{- $targetType := $.Form `targetType` -}}
								{{- range $k, $v := $.Stored.targetTypes -}}
								<option value="{{$v.K}}" {{if eq $targetType $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
							<span class="input-group-addon">{{"付款方式"|$.T}}</span>
							<select name="payMethod" class="form-control" id="payMethod" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{- $payMethod := $.Form `payMethod` -}}
								{{- range $k, $v := $.Stored.payMethods -}}
								<option value="{{$v.K}}" {{if eq $payMethod $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
							<span class="input-group-addon">{{"状态"|$.T}}</span>
							<select name="status" class="form-control" id="status" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>{{- $status := $.Form `status` -}}
								{{- range $k, $v := $.Stored.statusList -}}
								<option value="{{$v.K}}" {{if eq $status $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
						</div>
					</form>
				</div>
				<h3>{{"投诉列表"|$.T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive" data-pattern="priority-columns">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th data-priority="1" style="width:50px"><strong>ID</strong></th>
							<th style="width:80px"><strong>{{"客户"|$.T}}</strong></th>
							<th style="width:80px"><strong>{{"目标类型"|$.T}}</strong></th>
							<th data-priority="1"><strong>{{"付款信息"|$.T}}</strong></th>
							<th data-priority="1"><strong>{{"金额"|$.T}}</strong></th>
							<th data-priority="1" style="width:70px;"><strong>{{"处理状态"|$.T}}</strong></th>
							<th data-priority="6" style="width:120px;"><strong>{{"时间"|$.T}}</strong></th>
							<th style="width:100px;" class="text-center"><strong>{{"操作"|$.T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
                        {{- range $k,$v := $.Stored.listData -}}
						<tr>
							<td>{{$v.Id}}</td>
							<td>{{if $v.Customer}}{{$v.Customer.Name}}{{else}}-{{end}}</td>
							<td>
								{{"目标类型"|$.T}}: {{call $.Func.targetTypeName $v.TargetType}}<br />
								{{"目标ID"|$.T}}: {{$v.TargetId}}<br />
								{{- $ownershipInfo := call $.Func.ownershipInfo $v.TargetType -}}
								{{$ownershipInfo.Name|Default ($.T "归属ID")}}: {{ if $ownershipInfo.URL -}}
								<a href="http://" target="_blank" rel="noopener noreferrer">{{$v.OwnershipId}}</a> 
								{{- else -}}
								{{- $v.OwnershipId -}}
								{{- end -}}
							</td>
							<td>
								{{`付款方式`|$.T}}: {{call $.Func.payMethodName $v.PayMethod}}<br />
								{{`付款账号`|$.T}}: {{$v.PayAccount}}<br />
								{{if $v.PayBankBranch}}{{`银行支行`|$.T}}: {{$v.PayBankBranch}}<br />{{end}}
								{{if $v.PayTransactionNo}}{{`交易号码`|$.T}}: {{$v.PayTransactionNo}}<br />{{end}}
								{{`户主名`|$.T}}: {{$v.PayOwner|Default `-`}}
							</td>
							<td>{{$v.PayAmount}}</td>
							<td>{{call $.Func.statusName $v.Status}}</td>
							<td>
								{{`创建时间`|$.T}}: {{(Date $v.Created).Format "2006-01-02 15:04:05"}}<br />
								{{`修改时间`|$.T}}: {{if gt $v.Updated}}{{(Date $v.Updated).Format "2006-01-02 15:04:05"}}{{else}}-{{end}}<br />
								{{`付款时间`|$.T}}: {{if gt $v.PayTime}}{{(Date $v.PayTime).Format "2006-01-02 15:04:05"}}{{else}}-{{end}}
							</td>
							<td class="text-center label-group">
							<a class="label label-success" href="{{BackendURL}}/official/customer/offline_pay/edit?id={{$v.Id}}" title="{{`编辑`|$.T}}" data-toggle="tooltip">
								<i class="fa fa-pencil"></i>
							</a>
							<a class="label label-danger" href="{{BackendURL}}/official/customer/offline_pay/delete?id={{$v.Id}}" onclick="return confirm('{{`真的要删除吗？`|$.T}}');" title="{{`删除`|$.T}}" data-toggle="tooltip">
								<i class="fa fa-times"></i>
							</a>
							</td>
						</tr>
                        {{- end -}}
					</tbody>
				</table>
				</div>
				{{$.Stored.pagination.Render}}
			</div>
		</div>
	</div>
</div>
{{/Block}}
