    <div class="list-group">
        {{- range $k, $v := Stored.oAuthProviders -}}
        {{- if $v.Binded -}}
        {{range $key,$account := $v.OAuthUsers}}
        <div class="list-group-item pd-y-20 tx-center tx-sm-left-force d-block d-sm-flex justify-content-between align-items-center{{if eq $k 0}} rounded-top-0{{end}}">
          <div class="media d-block d-sm-flex">
            <div class="d-block d-sm-flex mg-sm-r-20 wd-55">
              <!-- <img src="http://via.placeholder.com/600x600" class="rounded-circle wd-40" alt="Image"> -->
              <i class="{{if $v.IconClass}}{{$v.IconClass}}{{else}}fa fa-{{$v.Provider}}{{end}} tx-size-48 tx-success"></i>
            </div><!-- d-flex -->
            <div class="media-body mg-t-10 mg-sm-t-0">
              <h6 class="mg-b-5 tx-bold"><a href="" class="tx-inverse hover-primary">{{$v.Title}}</a></h6>
              <p class="mg-b-0 tx-size-xs">{{$v.Description}}</p>
              <span class="tx-size-11 d-block">
                <span class="square-8 bg-success mg-r-5 rounded-circle"></span>
                {{"已绑定"|T}}
              </span>
            </div><!-- media-body -->
          </div><!-- media -->
          <div class="btn-group">
          <button type="button" class="btn btn-default-outline"><i class="fa fa-check"></i> {{"已绑定"|T}}</button>
          <a href="{{FrontendURL}}/user/profile/binding?type=oauth&provider={{$v.Provider}}&cancelId={{$account.Id}}" class="btn btn-danger mg-t-10 mg-sm-t-0" onclick="return confirm('{{T `确定要解除绑定%s?` $v.Title}}');"><i class="fa fa-unlink"></i>
            {{"解绑"|T}}
            </a>
          </div>
        </div><!-- list-group-item -->
        {{end}}
        {{- else -}}
        <div class="list-group-item pd-y-20 tx-center tx-sm-left-force d-block d-sm-flex justify-content-between align-items-center{{if eq $k 0}} rounded-top-0{{end}}">
          <div class="media d-block d-sm-flex">
            <div class="d-block d-sm-flex mg-sm-r-20 wd-55">
              <!-- <img src="http://via.placeholder.com/600x600" class="rounded-circle wd-40" alt="Image"> -->
              <i class="{{if $v.IconClass}}{{$v.IconClass}}{{else}}fa fa-{{$v.Provider}}{{end}} tx-size-48 tx-default"></i>
            </div><!-- d-flex -->
            <div class="media-body mg-t-10 mg-sm-t-0">
              <h6 class="mg-b-5 tx-bold"><a href="" class="tx-inverse hover-primary">{{$v.Title}}</a></h6>
              <p class="mg-b-0 tx-size-xs">{{$v.Description}}</p>
              <span class="tx-size-11 d-block">
                <span class="square-8 bg-warning mg-r-5 rounded-circle"></span>
                {{"未绑定"|T}}
              </span>
            </div><!-- media-body -->
          </div><!-- media -->
          <a href="{{FrontendURL}}/user/profile/binding?type=oauth&provider={{$v.Provider}}" class="btn btn-primary mg-t-10 mg-sm-t-0">
            <i class="fa fa-link"></i>
            {{"绑定"|T}}
          </a>
        </div><!-- list-group-item -->
        {{- end -}}
        {{- end -}}
    </div>