{{$customer := $.Customer}}
        <form class="form form-label-right" id="binding-form" data-binding-type="email" method="POST">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">E-mail:</label>
              <div class="col-sm-4">
                <div class="input-group">
                <input type="email" class="form-control" name="email" id="inputEmail" value="{{$customer.Email}}"{{if eq $customer.EmailBind `Y`}} readonly="readonly"{{end}}>
                {{if eq $customer.EmailBind "Y"}}
                <span class="input-group-addon">{{"已绑定"|$.T}}</span>
                {{end}}
                </div>
                <small id="emailHelp" class="form-text text-muted">{{"如果已经绑定，必须取消原有绑定之后才能绑定新地址"|$.T}}</small>
              </div>
              <label for="inputCaptcha" class="col-sm-2 col-form-label">{{"图形验证码"|$.T}}:</label>
              <div class="col-sm-4">{{$.CaptchaForm `#default#usercenter`}}</div>
            </div>
            <!-- <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">
                  {{"邮件验证码"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="vcode" id="vcode" value="">
                <small id="vcodeHelp" class="form-text text-muted">{{"请输入邮件中包含的验证码"|$.T}}</small>
              </div>
            </div> -->
            <div class="form-group row">
              <div class="col-sm-10 mg-t-5 offset-sm-2">
                  <button type="submit" class="btn {{if eq $customer.EmailBind `Y`}}btn-danger{{else}}btn-primary{{end}}">
                  {{if eq $customer.EmailBind "Y"}}
                    <i class="fa fa-unlink"></i>
                    {{$.T "发送%s，解除绑定" $.Stored.objectName}}
                  {{else}}
                    <i class="fa fa-link"></i>
                    {{$.T "发送%s，绑定%s" $.Stored.objectName $.Stored.typeName}}
                  {{end}}
                  </button>
                  <small class="text-muted mg-l-20">{{$.T "今天还能再发%d次" $.Stored.remainCount}}</small>
              </div>
            </div>
          </form>