{{Strip}}
<div class="modal fade" id="error-dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-close-outline tx-size-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
        <h4 class="tx-danger tx-semibold mg-b-20">{{"错误"|T}}</h4>
        <p class="mg-b-20 mg-x-20" id="error-message">{{"密码不一致"|T}}</p>
        <button type="button" id="error-button" class="btn btn-danger mg-b-20" data-dismiss="modal" aria-label="Close">
          {{"继续"|T}}
        </button>
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div>
{{/Strip}}