{{Strip}}
<div class="container-wrapper bg-gray-darker pd-y-40 footer-fix">
  <div class="container tx-center">
    <div class="share tx-size-24 mg-b-10">
      <a href="" class="tx-gray hover-primary"><i class="fa fa-facebook-official"></i></a>
      <a href="" class="tx-gray hover-info mg-l-10"><i class="fa fa-twitter"></i></a>
      <a href="" class="tx-gray hover-danger mg-l-10"><i class="fa fa-pinterest"></i></a>
    </div><!-- share -->
    <span class="tx-size-xs">
      {{Include "#default#footer_text"}}
    </span>
  </div><!-- container -->
</div><!-- container-wrapper -->
{{/Strip}}