{{Strip}}
    <div class="bg-white pos-fixed t-0 l-0 r-0 shadow-1 z-index-10">
      <div class="container ht-70 d-flex align-items-center justify-content-between">
        <a href="{{FrontendURL}}/" class="tx-inverse tx-size-24 tx-spacing-neg-2 tx-bold">
            <img src="{{Config.base.siteLogo|Default (AssetsURL `/images/logo.png`)}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/logo.png';" class="wd-50 ht-50" alt="{{Config.base.siteName}}">
            {{Config.base.siteName}}
        </a>
        <div><a href="{{FrontendURL}}/" class="btn btn-warning tx-size-13">{{"返回首页"|$.T}}</a></div>
      </div><!-- container -->
    </div><!-- bb-headpanel -->
{{/Strip}}