{{Strip}}{{- range $k,$v := $.FrontendNav 0 -}}
{{- $url := $v.URL -}}
{{- $isValidURL := $url -}}
    {{- if $v.HasChildren -}}
        {{- if eq $v.Direction `X` -}}
        {{- range $key,$sub := $v.FetchChildren -}}
        <li>
            <a href="{{$sub.Url}}" class="nav-link{{if $sub.IsActive}} active{{end}}"{{if $sub.Target}} target="{{$sub.Target}}"{{end}}>
                {{$sub.Title}}
                {{if $sub.Badge}}<sup class="badge badge-danger">{{$sub.Badge}}</sup>{{end}}
            </a>
            {{- if $sub.HasChildren -}}
            {{- $.Set `navigateListSfChildren` $sub -}}
            {{Include "#default#navigate_list_sf_children" $}}
            {{- end -}}
        </li>
        {{- end -}}
        {{- else -}}
        <li>
          <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="nav-link{{if $v.IsActive}} active{{end}}"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
              {{$v.Title}}
              {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
            </a>
            {{- $.Set `navigateListSfChildren` $v -}}
            {{Include "#default#navigate_list_sf_children" $}}
        </li>
        {{- end -}}
    {{- else -}}
        <li><a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="nav-link{{if $v.IsActive}} active{{end}}"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
            {{$v.Title}}
            {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
        </a></li>
    {{- end -}}
{{- else -}}
        <li><a href="{{FrontendURL}}/" class="nav-link{{if eq $.URL.Path `/`}} active{{end}}">{{"首页"|$.T}}</a></li>
{{- end -}}{{/Strip}}