{{Strip}}{{- range $k,$v := $.FrontendNav 0 -}}
{{- $url := $v.URL -}}
{{- $isValidURL := $url -}}
{{- if $v.HasChildren -}}
  {{- if eq $v.Direction `X` -}}
  {{- range $key,$sub := $v.FetchChildren -}}
  <li class="nav-item dropdown">
    {{- if $sub.HasChildren -}}
    <a href="{{if $sub.Url}}{{$sub.Url}}{{else}}javascript:;{{end}}" class="nav-link{{if $sub.IsActive}} active{{end}}" data-toggle="dropdown"{{if and $sub.Url $sub.Target}} target="{{$sub.Target}}"{{end}}>
      {{$sub.Title|$.T|UpperCaseFirst}}
      {{if $sub.Badge}}<sup class="badge badge-danger">{{$sub.Badge}}</sup>{{end}}
      <i class="fa fa-angle-down"></i>
    </a>
    {{- $.Set `navigateListChildren` $sub -}}
    {{Include "#default#navigate_list_children" $}}
    {{- else -}}
    <a href="{{if $sub.Url}}{{$sub.Url}}{{else}}javascript:;{{end}}" class="nav-link{{if $sub.IsActive}} active{{end}}"{{if and $sub.Url $sub.Target}} target="{{$sub.Target}}"{{end}}>
      {{$sub.Title|$.T|UpperCaseFirst}}
      {{if $sub.Badge}}<sup class="badge badge-danger">{{$sub.Badge}}</sup>{{end}}
    </a>
    {{- end -}}
    </li>
  {{- end -}}
  {{- else -}}
  <li class="nav-item dropdown">
    <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="nav-link{{if $v.IsActive}} active{{end}}" data-toggle="dropdown"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
      {{$v.Title|$.T|UpperCaseFirst}}
      {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
      <i class="fa fa-angle-down"></i>
    </a>
    {{- $.Set `navigateListChildren` $v -}}
    {{Include "#default#navigate_list_children" $}}
  </li>
  {{- end -}}
{{- else -}}
  <li class="nav-item"><a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="nav-link{{if $v.IsActive}} active{{end}}"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
    {{$v.Title|$.T|UpperCaseFirst}}
    {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
  </a></li>
{{- end -}}
{{- else -}}
<li class="nav-item"><a href="{{FrontendURL}}/" class="nav-link{{if eq $.URL.Path `/`}} active{{end}}">{{"首页"|$.T}}</a></li>
{{- end -}}{{/Strip}}