{{Strip}}
{{- with $v := $.Get `navigateListSfChildren` -}}
<ul>
  {{- range $key,$sub := $v.FetchChildren -}}
  <li>
      <a href="{{$sub.Url}}"{{if $sub.IsActive}} class="active"{{end}}{{if $sub.Target}} target="{{$sub.Target}}"{{end}}>
        {{$sub.Title}}
        {{if $sub.Badge}}<sup class="badge badge-danger">{{$sub.Badge}}</sup>{{end}}
      </a>
      {{- if $sub.HasChildren -}}
      {{- $.Set `navigateListSfChildren` $sub -}}
      {{Include "#default#navigate_list_sf_children" $}}
      {{- end -}}
  </li>
  {{- end -}}
</ul>
{{- end -}}
{{/Strip}}