{{Strip}}{{- range $k,$v := $.FrontendNav 0 -}}
{{- $url := $v.URL -}}
{{- $isValidURL := $url -}}
    {{- if $v.HasChildren -}}
        {{- if eq $v.Direction `X` -}}
        {{- range $key,$sub := $v.FetchChildren -}}
        {{- $surl := $sub.URL -}}
        <li>
            <a href="{{$surl}}"{{if $sub.IsActive}} class="active"{{end}}{{if $sub.Target}} target="{{$sub.Target}}"{{end}}>
                {{$sub.Title|$.T|UpperCaseFirst}}
                {{if $sub.Badge}}<sup class="badge badge-danger">{{$sub.Badge}}</sup>{{end}}
            </a>
            {{- if $sub.HasChildren -}}
            {{- $.Set `navigateListSfChildren` $sub -}}
            {{Include "#default#navigate_list_sf_children" $}}
            {{- end -}}
        </li>
        {{- end -}}
        {{- else -}}
        <li>
          <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}"{{if $v.IsActive}} class="active"{{end}}{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
              {{$v.Title|$.T|UpperCaseFirst}}
              {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
            </a>
            {{- $.Set `navigateListSfChildren` $v -}}
            {{Include "#default#navigate_list_sf_children" $}}
        </li>
        {{- end -}}
    {{- else -}}
        <li><a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}"{{if $v.IsActive}} class="active"{{end}}{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>
            {{$v.Title|$.T|UpperCaseFirst}}
            {{if $v.Badge}}<sup class="badge badge-danger">{{$v.Badge}}</sup>{{end}}
        </a></li>
    {{- end -}}
{{- else -}}
        <li><a href="{{FrontendURL}}/"{{if eq $.URL.Path `/`}} class="active"{{end}}>{{"首页"|$.T}}</a></li>
{{- end -}}{{/Strip}}