{{Strip}}{{$pjax := $.Form "_pjax"}}
{{- with $.Data -}}
<ul class="pagination pagination-inverse pagination-circle{{if .IsPosition}} pagination-circle-group{{end}} tx-size-12">
{{- if .IsPosition -}}
  {{- $isFirst := .IsFirst -}}
  {{- if not $isFirst -}}
  <li class="page-item wd-100">
    <a class="page-link lh-5" href="{{.URL ``}}" aria-label="First"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
    {{`第一页`|$.T}}
    </a>
  </li>
  {{- end -}}
  {{- if .HasPrev -}}
  <li class="page-item wd-100">
    <a class="page-link lh-5" href="{{.URL .PrevPosition}}" aria-label="Next"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
    {{`上一页`|$.T}}
    </a>
  </li>
  {{- end -}}
  {{- if .HasNext -}}
  <li class="page-item active{{if $isFirst}} wd-200{{else}} wd-100{{end}}">
    <a class="page-link lh-5" href="{{.URL .NextPosition}}" aria-label="Next"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
    {{`下一页`|$.T}}
    </a>
  </li>
  {{- end -}}
{{- else -}}
  {{- $page := .Page -}}
  {{- if gt $page 1 -}}
    <li class="page-item">
      <a class="page-link lh-5" href="{{$.Data.URL 1}}" aria-label="First"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
        <i class="fa fa-angle-double-left"></i>
      </a>
    </li>
  {{- end -}}
    <li class="page-item{{if eq $page 1}} disabled{{end}}">
      <a class="page-link lh-5" href="{{.URL .PrevPage}}" aria-label="Previous"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    {{- range $k,$v := .List 5 -}}
    <li class="page-item{{if eq $v $page}} active{{end}}">
        <a class="page-link lh-5" href="{{$.Data.URL $v}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>{{$v}}</a>
    </li>
    {{- end -}}
    <li class="page-item{{if ge $page .Pages}} disabled{{end}}">
      <a class="page-link lh-5" href="{{.URL .NextPage}}" aria-label="Next"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
{{- end -}}
</ul>
{{- end -}}
{{/Strip}}