{{Strip}}
          <div class="card rounded-0 bd-1 tx-size-sm">
              <img src="http://via.placeholder.com/1500x750" class="img-fluid" alt="">
              <div class="card-block tx-center">
                <div class="pos-relative">
                  <div class="pos-absolute-top t-neg-60">
                    <a href=""><img src="http://via.placeholder.com/600x600" class="wd-72 rounded-circle" alt=""></a>
                  </div><!-- pos-relative -->
                </div>
                <h4 class="tx-bold mg-t-30 mg-b-2 "><a href="" class="tx-gray-dark">Reynante Labares</a></h4>
                <p>Web Wizard, Volunteer, Cat Expert</p>
                <p class="mg-b-5"><a href="" class="btn btn-primary">Follow</a></p>
              </div><!-- card-block -->
              <div class="card-footer pd-0 tx-center">
                <div class="row">
                  <div class="col pd-y-10">
                    <p class="h4 tx-gray-dark mg-b-2"><a href="" class="tx-gray-dark">353</a></p>
                    <small>Updates</small>
                  </div><!-- col -->
                  <div class="col pd-y-10 bd-l">
                    <p class="h4 tx-gray-dark mg-b-2"><a href="" class="tx-gray-dark">589</a></p>
                    <small>Followers</small>
                  </div><!-- col -->
                  <div class="col pd-y-10 bd-l">
                    <p class="h4 tx-gray-dark mg-b-2"><a href="" class="tx-gray-dark">778</a></p>
                    <small>Following</small>
                  </div><!-- col -->
                </div><!-- row -->
              </div><!-- card-footer -->
            </div>

{{/Strip}}