{{Strip}}
<div id="sectionSignIn" class="header-home container-wrapper ht-lg-100v bg-superlight pd-t-100 pd-b-30" style="background-image:url('{{AssetsXURL}}/images/background/9.jpg');background-size:cover">
  <div class="container ht-100p mx-wd-xl">
    <div class="row flex-row-reverse ht-100p">
      <div class="col-xl-4 offset-xl-1 col-lg-5 d-flex align-items-center justify-content-center">
        {{Include "#default#partial_sign_in_form"}}
      </div><!-- col-4 -->
      <div class="col-lg-7 mg-t-25 mg-lg-t-0 pd-l-30 pd-lg-l-10 d-flex align-items-center login-form-left-box">
        {{- if not Config.custom.login -}}
        <div class="row color-box-wrapper">
          <a href="{{FrontendURL}}/" class="col-6 bg-success color-box">
            <i class="bg-icon fa fa-reply"></i>
            {{`返回首页`|$.T}}
          </a>
          <a href="{{FrontendURL}}/sign_up?next={{$.GetNextURL}}" class="col-6 bg-info color-box">
            <i class="bg-icon fa fa-user"></i>
            {{`注册会员`|$.T}}
          </a>
          <a href="{{FrontendURL}}/film/guide" class="col-6 bg-primary color-box">
            <i class="bg-icon fa fa-star"></i>
            {{`观影指南`|$.T}}
          </a>
          <a href="{{FrontendURL}}/film/list" class="col-6 bg-warning color-box">
            <i class="bg-icon fa fa-film"></i>
            {{`全部电影`|$.T}}
          </a>
        </div>
        {{- else -}}
          {{Config.custom.login|ToHTML}}
        {{- end -}}
      </div><!-- col- -->
    </div><!-- row -->
  </div>
</div><!-- container-wrapper -->

{{Include "#default#partial_modal"}}
{{/Strip}}
