{{Strip}}{{Extend "#default#base"}}
{{Block "title"}}{{"注册账号"|$.T}}{{/Block}}
{{Block "bodyAttr"}} class="bg-superlight tx-size-sm"{{/Block}}
<!-- style="background-image:url('{{AssetsXURL}}/images/background/6.jpg');background-size:cover" -->
{{Block "body"}}
{{Include "#default#headsimple"}}
<div class="wd-100p d-flex align-items-center justify-content-center pd-t-100 pd-x-20">
    <div class="card wd-450 shadow-center-5">
        {{Include "#default#partial_sign_up_form"}}
    </div><!-- card -->
</div><!-- container -->
{{- $.Set `ignorePosAbsoluteBottom` true -}}
{{Include "#default#footer"}}
{{/Block}}
{{Block "footer"}}
{{- if $.Data -}}
{{Include "#default#partial_modal"}}
<script>
$(function(){
    showModal("{{$.Data}}","{{if IsError $.Data}}error{{else if IsOk $.Data}}success{{else}}info{{end}}");
});
</script>
{{- end -}}
{{/Block}}
{{/Strip}}