{{Extend "user/profile/_homepage"}}
{{Block "head"}}
{{Super}}
<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.crop/css/jquery.Jcrop.min.css?t={{BuildTime}}" type="text/css" />
{{/Block}}
{{Block "body"}}
{{Super}}
{{$customer := Customer}}
 <div class="main mg-lg-l-240 pd-y-20 pd-t-70 pd-lg-t-75">
    {{Include "user/profile/_breadcrumb"}}
  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
    {{Include "user/profile/_profile_head"}}
    <div class="card card-flat tx-size-sm pd-30 mg-t-20">
        <ul class="nav nav-outline nav-gray d-block d-sm-flex justify-content-center mg-b-30" role="tablist">{{$type := $.Form "type"}}
            <li class="nav-item"><a class="nav-link{{if eq $type "email"}} active{{end}}" href="{{FrontendURL}}/user/profile/binding?type=email">{{"绑定邮箱"|$.T}}</a></li>
            <li class="nav-item"><a class="nav-link{{if eq $type "mobile"}} active{{end}}" href="{{FrontendURL}}/user/profile/binding?type=mobile">{{"绑定手机号"|$.T}}</a></li>
            <li class="nav-item"><a class="nav-link{{if eq $type "oauth"}} active{{end}}" href="{{FrontendURL}}/user/profile/binding?type=oauth">{{"绑定社区账号"|$.T}}</a></li>
        </ul>
        {{if eq $type "email"}}
        {{Include "user/profile/binding/_email"}}
        {{else if eq $type "mobile"}}
        {{Include "user/profile/binding/_mobile"}}
        {{else}}
        {{Include "user/profile/binding/_oauth"}}
        {{end}}
    </div><!-- .card -->
  </div><!-- col-lg-12 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}
{{Block "footer"}}
{{Super}}
<script type="text/javascript">
var waitingSeconds=Number('{{$.Stored.waitingSeconds}}');
$(function(){
  //captchaDialog({Data:{captchaName:'vcode',captchaURL:'http://nging.coscms.com:8080/captcha/Tw59MxLBGOwItBVe1wNz.png',captchaID:'',captchaIdent:'captchaId'}},{data:[{name:'test',value:'value'}]});
  $('#binding-form').on('submit',function(event){
    event.preventDefault();
    var btn=$('#binding-form').find('button:submit');
    btnDisabled(btn,'<i class="fa fa-spinner fa-spin"></i> {{"发送中，请稍候..."|$.T}}');
    $.post(window.location.href,$(this).serializeArray(),function(r){
      btnEnabled(btn);
      renewCaptcha('#binding-form',r);
      if(r.Code==1){
        App.message({text:r.Info+','+App.t('请输入您收到的验证码'),type:'success'});
        waiting(btn,waitingSeconds);
        return inputVerifyCode('{{$.Stored.objectName}}','#binding-form');
      }
      App.message({text:r.Info,type:'error'});
    },'json');
  });
});
</script>
{{/Block}}