{{Extend "user/profile/partial_homepage"}}
{{Block "head"}}{{Super}}
<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.crop/css/jquery.Jcrop.min.css?t={{BuildTime}}" type="text/css" />
{{/Block}}
{{Block "body"}}
{{Super}}
 <div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
    {{Include "user/profile/partial_breadcrumb"}}
  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
    {{Include "user/profile/partial_profile_head"}}
    <div class="card card-flat tx-size-sm pd-30 mg-t-20">
        <ul class="nav nav-outline nav-gray d-block d-sm-flex justify-content-center mg-b-30" role="tablist">{{$type := $.Stored.type}}
            <li class="nav-item"><a class="nav-link{{if eq $type `sign_in`}} active{{end}}" href="{{FrontendURL}}/user/profile/password?type=sign_in">{{"登录密码"|$.T}}</a></li>
            <li class="nav-item"><a class="nav-link{{if eq $type `safe`}} active{{end}}" href="{{FrontendURL}}/user/profile/password?type=safe">{{"安全密码"|$.T}}</a></li>
        </ul>
        <form class="form form-label-right" id="password-edit-form" method="POST">
            {{- if eq $type "sign_in" -}}
            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">{{"新登录密码"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="password" id="password" value="" required="required" minlength="{{$.Stored.passwordMinLength}}">
              </div>
              <label for="password2" class="col-sm-2 col-form-label">{{"确认新登录密码"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="password2" id="password2" value="" required="required" minlength="{{$.Stored.passwordMinLength}}">
              </div>
            </div>
            {{- else -}}
            <div class="form-group row">
              <label for="safePwd" class="col-sm-2 col-form-label">{{"新安全密码"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="safePwd" id="safePwd" value="" required="required" minlength="{{$.Stored.safePwdMinLength}}">
              </div>
              <label for="safePwd2" class="col-sm-2 col-form-label">{{"确认新安全密码"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="safePwd2" id="safePwd2" value="" required="required" minlength="{{$.Stored.safePwdMinLength}}">
              </div>
            </div>
            {{- end -}}
            <div class="form-group row">
              <div class="col-sm-10 mg-t-5 offset-sm-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    {{"确认修改"|$.T}}
                  </button>
              </div>
            </div>
          </form>
    </div><!-- .card -->
  </div><!-- col-lg-12 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}
{{Block "footer"}}
{{Super}}
<script type="text/javascript">
$(function(){
  $('#password-edit-form').on('submit',function(event){
    event.preventDefault();
    var formData=$(this).serializeArray();
    $.post(window.location.href,formData,function(r){
      if(r.Code==1){
        if(r.Data.nextStep=='send')
        return authDialog(r.Data.authType,'{{$.Stored.objectName}}','#password-edit-form');
      }
      App.message({text:r.Info,type:'error'});
    },'json');
  });
});
</script>
{{/Block}}