{{Extend "user/profile/partial_homepage"}}
{{Block "head"}}{{Super}}{{/Block}}
{{Block "body"}}{{Super}}
{{- $agentLevel := $.Stored.agentLevel -}}
{{- $customerGroup := $.Stored.customerGroup -}}
{{- $customer := $.Customer -}}
 <div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
    {{Include "user/profile/partial_breadcrumb"}}
  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
    {{Include "user/profile/partial_profile_head"}}
    <div class="card card-flat tx-size-sm pd-30 mg-t-20">
        <form class="form form-label-right" method="POST">
          {{- if $.Stored.canUploadAvatar -}}
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"头像"|$.T}}:</label>
              <div class="col-sm-10">
                  <div class="avatar-upload">
                    {{$avatar := $customer.Avatar}}
                    <img src="{{if $avatar}}{{AddSuffix $avatar `_200_200`}}{{else}}{{AssetsURL}}/images/user_128.png{{end}}" class="profile-avatar img-thumbnail" onerror="this.src='{{AssetsURL}}/images/user_128.png';" />
                    <input id="fileupload" type="file" name="files[]">
                    <input type="hidden" id="avatar-image" name="avatar-small" value="{{if $avatar}}{{AddSuffix $avatar `_200_200`}}{{end}}" />
                    <input type="hidden" id="avatar-image-original" name="avatar" value="{{$avatar}}" />
                    <div id="progress" class="overlay"></div>
                  </div>
              </div>
            </div>
          {{- end -}}
            <div class="form-group row">
              <label for="staticName" class="col-sm-2 col-form-label">{{"用户名"|$.T}}:</label>
              <div class="col-sm-4">
                <div class="form-control-plaintext" id="staticName">{{$customer.Name}}</div>
              </div>
              <label for="staticUID" class="col-sm-2 col-form-label">{{"客户ID"|$.T}}:</label>
              <div class="col-sm-4">
                <div class="form-control-plaintext" id="staticUID">{{$customer.Id}}</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-4">
                <div class="input-group">
                <input type="email" class="form-control" name="email" id="inputEmail" value="{{$customer.Email}}"{{if eq $customer.EmailBind `Y`}} readonly="readonly"{{end}}>
                {{if eq $customer.EmailBind "Y"}}
                <span class="input-group-addon text-xs bd-0 tx-gray">{{"已绑定"|$.T}}</span>
                {{end}}
                </div>
                <small id="emailHelp" class="form-text text-muted">{{"如果E-mail地址已经绑定，则需要验证后才能更换"|$.T}}</small>
              </div>
              <label for="inputMobile" class="col-sm-2 col-form-label">{{"手机号"|$.T}}:</label>
              <div class="col-sm-4">
                <div class="input-group">
                <input type="text" class="form-control" name="mobile" id="inputMobile" value="{{$customer.Mobile}}"{{if eq $customer.MobileBind `Y`}} readonly="readonly"{{end}}>
                {{if eq $customer.MobileBind "Y"}}
                <span class="input-group-addon text-xs bd-0 tx-gray">{{"已绑定"|$.T}}</span>
                {{end}}
                </div>
                <small id="mobileHelp" class="form-text text-muted">{{"如果手机号已经绑定，则需要验证后才能更换"|$.T}}</small>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRealname" class="col-sm-2 col-form-label">{{"真实姓名"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="realName" id="inputRealname" value="{{$customer.RealName}}">
              </div>
              <label for="inputIDCardNo" class="col-sm-2 col-form-label">{{"身份证号"|$.T}}:</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="idCardNo" id="inputIDCardNo" value="{{$customer.IdCardNo}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"性别"|$.T}}:</label>
              <div class="col-sm-4">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" value="male" name="gender"{{if eq $customer.Gender "male"}} checked="checked"{{end}}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{"男"|$.T}}</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="gender" type="radio" class="custom-control-input" value="female"{{if eq $customer.Gender "female"}} checked="checked"{{end}}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{"女"|$.T}}</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="gender" type="radio" class="custom-control-input" value="secret"{{if or (not $customer.Gender) (eq $customer.Gender "secret")}} checked="checked"{{end}}>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{"保密"|$.T}}</span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">{{"简介"|$.T}}:</label>
              <div class="col-sm-10 mg-t-5">
                <textarea name="description" id="inputDescription" class="form-control" maxlength="200">{{- $customer.Description -}}</textarea>
                <small id="descriptionHelp" class="form-text text-muted">{{$.T "不得超过%d个字,还能输入%s个字" 200 `<code id="descriptionWordsCount">200</code>` | ToHTML}}</small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 mg-t-5 offset-sm-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    {{"保存"|$.T}}
                  </button>
              </div>
            </div>
          </form>
          {{Include "modal_crop_image"}}
    </div><!-- .card -->
  </div><!-- col-lg-12 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}
{{Block "footer"}}
{{Super}}
{{$customer := $.Customer}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script type="text/javascript">
$(function(){
  $('#inputDescription').on('keyup',function(){
    $('#descriptionWordsCount').text(200-String($(this).val()).length);
  }).trigger('keyup');
  window.CropServerURL='{{FrontendURL}}/user/file/crop';
  App.editor.cropImage('{{FrontendUploadURL `avatar` `refid` $customer.Id}}',"#avatar-image",'#avatar-image-original');
});
</script>
{{/Block}}