{{Extend "layout"}}
{{Block "title"}}{{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/official/agent/index">{{"代理商"|$.T}}</a></li>
<li class="active">{{$.Stored.title}}</li>
{{/Block}}
{{Block "head"}}
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat no-padding">
          <div class="header">							
            <h3>{{$.Stored.title}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" data-parsley-validate novalidate method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"客户"|$.T}}</label>
                <div class="col-sm-3">
                  {{- $customerId := $.Form "customerId" -}}
                  <input type="text" name="customerId" id="customerId" data-init="{{$customerId}}" value="{{$customerId}}" class="form-control"{{if $.Stored.isEdit}} disabled="disabled"{{end}}>
                </div>
                <label class="col-sm-2 control-label">{{"代理等级"|$.T}}</label>
                <div class="col-sm-3">
                  {{- $applyLevel := ($.Formx "applyLevel").Uint -}}
                  <select name="applyLevel" id="applyLevel" class="form-control">
                    <option value="">- {{`请选择等级`|$.T}} -</option>
                    {{- range $k, $v := $.Stored.levelList -}}
                    <option value="{{$v.Id}}"{{if eq $applyLevel $v.Id}} selected{{end}}>{{$v.Name}}</option>
                    {{- end -}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"保证金"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" name="marginAmount" value="{{$.Form "marginAmount"}}" min="0.00" placeholder="0.00">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"可提现收入"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `earningBalance` `0.00`}}" disabled="disabled">
                </div>
                <label class="col-sm-2 control-label">{{"冻结金额"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `freezeAmount` `0.00`}}" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"销量"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `sold` `0`}}" disabled="disabled">
                </div>
                <label class="col-sm-2 control-label">{{"下线"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `members` `0`}}" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"提现金额"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `recvMoneyTotal` `0.00`}}" disabled="disabled">
                </div>
                <label class="col-sm-2 control-label">{{"提现次数"|$.T}}</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" value="{{$.Form `recvMoneyTimes` `0`}}" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"提现账号"|$.T}}</label>
                <div class="col-sm-8">
                  <div class="fieldset bg-fc">
                      <div class="form-group xs-padding-top">
                          <div class="col-sm-12">
                            <label class="col-sm-2 control-label">{{"收款方式"|$.T}}</label>{{$recvMoneyMethod := $.Form `recvMoneyMethod`}}
                            <div class="col-sm-4">
                              <select class="form-control" name="recvMoneyMethod" id="recvMoneyMethod">
                                {{- range $k, $v := $.Stored.recvMethodList -}}
                                <option value="{{$v.K}}" online="{{if $v.H.online}}1{{else}}0{{end}}"{{if eq $recvMoneyMethod $v.K}} selected{{end}}>{{$v.V}}</option>
                                {{- end -}}
                              </select>
                            </div>
                            <label class="col-sm-2 control-label">{{"收款账号"|$.T}}</label>{{$recvMoneyAccount := $.Form `recvMoneyAccount`}}
                            <div class="col-sm-4">
                              <input type="text" class="form-control" name="recvMoneyAccount" id="recvMoneyAccount" value="{{$recvMoneyAccount}}">
                            </div>
                          </div>
                      </div><!-- form-group -->
                      <div class="form-group xs-padding-top" recv-method="offline">
                          <div class="col-sm-12">
                            <label class="col-sm-2 control-label">{{"支行名称"|$.T}}</label>{{$recvMoneyBranch := $.Form `recvMoneyBranch`}}
                            <div class="col-sm-4">
                              <input type="text" class="form-control" name="recvMoneyBranch" id="recvMoneyBranch" value="{{$recvMoneyBranch}}">
                            </div>
                            <label class="col-sm-2 control-label">{{"开户人"|$.T}}</label>{{$recvMoneyOwner := $.Form `recvMoneyOwner`}}
                            <div class="col-sm-4">
                              <input type="text" class="form-control" name="recvMoneyOwner" id="recvMoneyOwner" value="{{$recvMoneyOwner}}">
                            </div>
                          </div>
                      </div><!-- form-group -->
                  </div><!-- fieldset -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|$.T}}</label>
                <div class="col-sm-8">{{$status := $.Form `status` `idle`}}
                  {{- range $k, $v := $.Stored.statusList -}}
                  <div class="radio radio-{{$v.H.color|Default `default`}} radio-inline">
                    <input id="radio-status-{{$k}}" name="status" type="radio"{{if eq $v.K $status}} checked="checked"{{end}} value="{{$v.K}}" />
                    <label for="radio-status-{{$k}}">{{$v.V}}</label>
                  </div>
                  {{- end -}}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"备注"|$.T}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="remark" data-parsley-trigger="keyup" data-parsley-maxlength="255" data-parsley-validation-threshold="10">{{$.Form "remark"}}</textarea>
                </div>
              </div>
              <div class="form-group form-submit-group">
									<div class="col-sm-9 col-sm-offset-2">
									  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|$.T}}</button>
									  <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|$.T}}</button>
									</div>
							</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script>
$(function(){
  $('#recvMoneyMethod').off().on('change',function(){
    var value = $(this).val();
    var optio = $(this).children('option[value="'+value+'"]');
    if(optio.attr('online')=='1'){
      $('div[recv-method=offline]').hide();
      $('div[recv-method=online]').show();
    }else{
      $('div[recv-method=offline]').show();
      $('div[recv-method=online]').hide();
    }
  }).trigger('change');
  App.editor.selectPage('#customerId',{
    data : BACKEND_URL+'/official/customer/index'
  });
});
</script>
{{/Block}}