{{Extend "layout"}}
{{Block "title"}}{{"代理商"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"代理商"|T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				<div class="pull-right" style="margin-left:10px">
					<form class="form-horizontal" action="" id="search-form" method="GET">
						<div class="input-group">
							<span class="input-group-addon">{{"状态"|T}}</span>
							<select name="status" class="form-control" id="status" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|T}} - </option>
								{{- $status := Form `status` -}} 
								{{- range $k, $v := Stored.statusList -}}
								<option value="{{$v.K}}" {{if eq $status $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
						</div>
					</form>
				</div>
				<a href="{{BackendURL}}/official/agent/add" class="btn btn-success pull-right">
					<i class="fa fa-plus"></i>
					{{"添加代理商"|T}}
				</a>							
				<h3>{{"代理商列表"|T}}</h3>
			</div>
			<div class="content">
				<div class="table-responsive">
				<table class="table no-border hover">
					<thead class="no-border">
						<tr>
							<th style="width:200px"><strong>{{"代理人"|T}}</strong></th>
							<th><strong>{{"代理等级"|T}}</strong></th>
							<th><strong>{{"金额"|T}}</strong></th>
							<th><strong>{{"提现"|T}}</strong></th>
							<th><strong>{{"销量"|T}}</strong></th>
							<th><strong>{{"下线人数"|T}}</strong></th>
							<th><strong>{{"状态"|T}}</strong></th>
							<th style="width:170px"><strong>{{"时间"|T}}</strong></th>
							<th style="width:120px" class="text-center"><strong>{{"操作"|T}}</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-y">
                        {{range $k,$v := Stored.listData}}
						<tr>
							<td>
								{{- if $v.Customer -}}
								<a href="{{FrontendURL}}/u/{{$v.CustomerId}}" target="_blank">
									<img src="{{$v.Customer.Avatar|Default (AssetsURL `/images/user_128.png`)}}" onerror="this.onerror=null;this.src='{{AssetsURL `/images/user_128.png`}}';" alt="{{$v.Customer.Name}}" style="width:50px;height:50px" />
									{{$v.Customer.Name}}
								</a>
								{{- end -}}
							</td>
							<td>
								{{- if $v.Level -}}
								{{$v.Level.Name}}
								{{- end -}}
							</td>
							<td>
								{{`收入`|T}}: {{$v.EarningBalance}}<br />
								{{`冻结`|T}}: {{$v.FreezeAmount}}<br />
								{{`保证金`|T}}: {{$v.MarginAmount}}
							</td>
							<td>{{- if $v.Recv -}}
								{{`总次数`|T}}: {{$v.Recv.RecvMoneyTimes}}<br />
								{{`总金额`|T}}: {{$v.Recv.RecvMoneyTotal}}
								{{- else -}}
								{{`总次数`|T}}: -<br />
								{{`总金额`|T}}: -
								{{- end -}}
							</td>
							<td>{{$v.Sold}}</td>
							<td>{{$v.Members}}</td>
							<td>
								{{getStatusName $v.Status}}
							</td>
							<td>
								{{`创建`|T}}: {{(Date $v.Created).Format "2006-01-02 15:04:05"}}<br />
								{{`修改`|T}}: {{if gt $v.Updated 0}}{{(Date $v.Updated).Format "2006-01-02 15:04:05"}}{{end}}
							</td>
							<td class="text-center">
							<a class="label label-default" href="{{BackendURL}}/official/agent/add?copyId={{$v.CustomerId}}" title="{{"复制"|T}}" data-toggle="tooltip"><i class="fa fa-copy"></i></a>
							<a class="label label-success" href="{{BackendURL}}/official/agent/edit?id={{$v.CustomerId}}" title="{{"编辑"|T}}" data-toggle="tooltip"><i class="fa fa-pencil"></i></a> 
							<a class="label label-danger" href="{{BackendURL}}/official/agent/delete?id={{$v.CustomerId}}" onclick="return confirm('{{"真的要删除吗？"|T}}');" title="{{"删除"|T}}" data-toggle="tooltip"><i class="fa fa-times"></i></a>
							</td>
						</tr>
                        {{end}}
					</tbody>
				</table>		
				</div>
				{{Stored.pagination.Render}}
			</div>
		</div>				
	</div>
</div>
{{/Block}}