{{Extend "layout"}}
{{Block "title"}}{{Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/official/agent/product_index">{{"产品代理"|T}}</a></li>
<li class="active">{{Stored.title}}</li>
{{/Block}}
{{Block "head"}}
<link rel="stylesheet" type="text/css" href="{{AssetsURL}}/js/selectpage/selectpage.css" />
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{Stored.title}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" data-parsley-validate novalidate method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"选择代理商"|T}}</label>
                <div class="col-sm-3">
                  {{$agentId := Form "agentId"}}
                  <input type="text" name="agentId" id="agentId" data-init="{{$agentId}}" value="{{$agentId}}" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"代理类型"|T}}</label>
                <div class="col-sm-3">
                  {{$v := Form "productTable"}}
                  <select name="productTable" class="form-control" id="productTable">
                    <option value="">{{`默认`|T}}</option>
                    {{range $k, $c := Stored.productTableList}}
                    <option value="{{$c.K}}"{{if eq $c.K $v}} selected="selected"{{end}}>{{$c.V}}</option>
                    {{end}}
                  </select>
                </div>
                <label class="col-sm-2 control-label" id="product-id-label" style="display:none"></label>
                <div class="col-sm-3" id="product-id-input" style="display:none">
                  {{$v := Form "productId"}}
                  <input type="text" class="form-control" id="productId" name="productId" value="{{$v}}" data-init="{{$v}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"过期时间"|T}}</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="expired" value="{{Form "expired"}}">
                </div>
                <label class="col-sm-2 control-label">{{"状态"|T}}</label>
                <div class="col-sm-3">
                  {{$v := Form "disabled"}}
                  <div class="radio radio-success radio-inline">
                    <input type="radio" value="N" id="disabled-N" name="disabled"{{if or (eq $v "N") (eq $v "")}} checked{{end}}> 
                    <label for="disabled-N">{{"启用"|T}}</label>
                  </div>
                  <div class="radio radio-danger radio-inline">
                    <input type="radio" value="Y" id="disabled-Y" name="disabled" {{if eq $v "Y"}} checked{{end}}>
                    <label for="disabled-Y">{{"禁用"|T}}</label>
                  </div>
                </div>
              </div>
              <div class="form-group form-submit-group">
									<div class="col-sm-9 col-sm-offset-2">
									  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|T}}</button>
									  <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|T}}</button>
									</div>
							</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script type="text/javascript">
$(function(){
  App.editor.selectPage('#productId',{
    data: '{{URL.Path}}?operation=selectProduct',
    params: function(){
      return {productTable:$('#productTable').val()};
    }
  });
  $('#productTable').off().on('change', function() {
    var v = $(this).val();
    $('#productId').selectPageClear();
    if(v){
      var text = $(this).children('option[value="'+v+'"]').text();
      $('#product-id-label,#product-id-input').show();
      $('#product-id-label').text(text);
    }else{
      $('#product-id-label,#product-id-input').hide();
    }
  }).trigger('change');
  App.editor.selectPage('#agentId',{
    data : BACKEND_URL+'/official/customer/index?isAgent=1'
  });
});
</script>
{{/Block}}