<!-- ============= RECENT POST ============= -->
<section class="recent-post-wrapper section-padding">
    <div class="container">
        <div class="section-head">
            <h2 class="heading-primary">{{`最近文章`|$.T}}</h2>
            <a href="{{FrontendURL}}/articles" class="button button-minimal">
                {{`查看全部`|$.T}}
                <span class="icon">
                    <img src="{{AssetsXURL}}/blogdefault/img/icons/long-arrow.png" alt="arrow" />
                </span>
            </a>
        </div>
        <div class="row gy-5 justify-content-end">
            <div class="col-lg-3 sidebar">
                <div class="gradient-bar mb-30"></div>
                {{- $list := call $.Func.queryList `` 2 4 -}}
                {{- range $k, $v := $list -}}
                <div class="recent-post-card">
                    <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}">
                        <img class="card-thumb bg-cover" src="{{if $v.ImageOriginal}}{{$v.ImageOriginal}}{{else}}{{AssetsXURL}}/images/placeholder/default-sm.jpg{{end}}" onerror="this.onerror=null;this.src='{{AssetsXURL}}/images/placeholder/default-sm.jpg';" alt="{{$v.Title}}" />
                    </a>
                    <div class="card-content">
                        <div class="post-meta">
                            {{- if $v.Category -}}
                            <span class="meta-item"> {{$v.Category.Name}} </span>
                            {{- end -}}
                            <span class="meta-item"> {{(Date $v.Created).Format `2006-01-02`}} </span>
                            <span class="meta-item">
                                <i class="fal fa-comment"></i>
                                {{$v.Comments}}
                            </span>
                        </div>
                        <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}">
                            <h3 class="heading-secondary">
                                {{$v.Title}}
                            </h3>
                        </a>
                    </div>
                </div>
                {{- end -}}
                {{Include "common/sidebar_banner2" (MakeMap `badge` `广告位#3` `title` `虚位以待` `content` `欢迎投放产品信息` `url` `#`)}}
            </div>
            <div class="col-lg-9">
                <div class="row gy-4 main-post-card-wrapper">
                    {{- $relationList := call $.Func.relationList 4 -}}
                    {{- range $k, $v := $relationList -}}
                    <div class="col-md-6">
                        <!-- Post item -->
                        <div class="main-post-card">
                            <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}"><img class="card-thumb bg-cover" src="{{if $v.ImageOriginal}}{{$v.ImageOriginal}}{{else}}{{AssetsXURL}}/images/placeholder/default-sm.jpg{{end}}" onerror="this.onerror=null;this.src='{{AssetsXURL}}/images/placeholder/default-sm.jpg';" alt="{{$v.Title}}"></a>
                            {{- if $v.Category -}}
                            <span class="category"> {{$v.Category.Name}} </span>
                            {{- end -}}
                            <div class="card-content">
                                <div class="card-meta">
                                    <div class="meta-item post-author">
                                        <div>
                                            <img class="author-avatar bg-info bg-cover" src="{{if $v.Customer}}{{$v.Customer.Avatar}}{{else if $v.User}}{{$v.User.Avatar}}{{else}}{{AssetsXURL}}/blogdefault/img/recent-post/post-author1.png{{end}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';" alt="avatar">
                                        </div>
                                        <p class="author-name">
                                            {{if $v.Customer -}}
                                            <a href="{{FrontendURL}}/u/{{$v.Customer.Id}}" class="author-name">{{$v.Customer.Name}}</a>
                                            {{- else if $v.User -}}
                                            <span>{{$v.User.Username}}</span>
                                            {{- else -}}
                                            <span>{{`未知`|$.T}}</span>
                                            {{- end -}}
                                        </p>
                                    </div>
                                    <span class="meta-item"> {{(Date $v.Created).Format `2006-01-02`}} </span>
                                    <span class="meta-item">
                                        <i class="fal fa-share-alt"></i>
                                    </span>
                                </div>
                                <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}">
                                    <h3 class="heading-tertiary">
                                        {{$v.Title}}
                                    </h3>
                                </a>
                                <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}" class="button">
                                    <span>
                                        <img src="{{AssetsXURL}}/blogdefault/img/icons/long-arrow.png" alt="arrow" />
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</section>