<div class="mobile-nav-one-wrapper">
    <div class="row">
        <div class="mobile-nav-wrap">
            <div class="mobile-nav">
                <button type="button" class="close-nav">
                    <i class="fal fa-times-circle"></i>
                </button>
                <nav class="sidebar-nav">
                    <ul class="metismenu" id="mobile-menu">
                    {{- range $k,$v := FrontendNav 0 -}}
                    {{- $url := $v.URL -}}
                    {{- $isValidURL := $url -}}
                        {{- if $v.HasChildren Context -}}
                            {{- if eq $v.Direction `X` -}}
                                {{- range $key,$sub := $v.FetchChildren Context -}}
                        <li>
                            <a href="{{$sub.Url}}" class="{{- if $sub.HasChildren Context -}}has-arrow{{- end -}}{{if $sub.IsActive Context}} active{{end}}"{{if $sub.Target}} target="{{$sub.Target}}"{{end}}>{{$sub.Title}}</a>
                            {{- if $sub.HasChildren Context -}}
                            {{Include "header_nav_mobile_children" $sub}}
                            {{- end -}}
                        </li>
                                {{- end -}}
                            {{- else -}}
                        <li>
                            <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="has-arrow{{if $v.IsActive Context}} active{{end}}"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>{{$v.Title}}</a>
                            {{Include "header_nav_mobile_children" $v}}
                        </li>
                            {{- end -}}
                        {{- else -}}
                        <li>
                            <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}"{{if $v.IsActive Context}} class="active"{{end}}{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>{{$v.Title}}</a>
                        </li>
                        {{- end -}}
                    {{- else -}}
                        <li><a href="{{FrontendURL}}/"{{if eq $.URL.Path `/`}} class="active"{{end}}>{{"首页"|$.T}}</a></li>
                    {{- end -}}
                    </ul>
                    <a href="contact.html" class="button button-primary mt-20 ml-20 d-inline-block"
                        >Contact Us
                        <i class="fas fa-paper-plane"></i>
                    </a>
                </nav>

                <div class="action-bar">
                    <a href="mailto:test@gmail.com"><i class="fal fa-envelope"></i>support@newlog.com</a>
                    <a href="tel:123-456-7890"><i class="fal fa-phone"></i>+324-4221-313</a>
                    <div class="social-icons d-flex">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>