<div class="mega-menu-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="recent-post-card">
                <div
                    class="card-thumb bg-cover"
                    style="background-image: url('{{AssetsXURL}}/blogdefault/img/recent-post/thumb1.png')"
                ></div>
                <div class="card-content">
                    <div class="post-meta">
                        <span class="meta-item"> Technology </span>
                        <span class="meta-item"> Feb 06, 2022 </span>
                    </div>
                    <a href="single-post.html">
                        <h3 class="heading-secondary">
                            The Beautiful French Village Of Saint-Emilion
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="recent-post-card">
                <div
                    class="card-thumb bg-cover"
                    style="background-image: url('{{AssetsXURL}}/blogdefault/img/recent-post/thumb2.png')"
                ></div>
                <div class="card-content">
                    <div class="post-meta">
                        <span class="meta-item"> Technology </span>
                        <span class="meta-item"> Feb 06, 2022 </span>
                    </div>
                    <a href="single-post.html">
                        <h3 class="heading-secondary">
                            The Beautiful French Village Of Saint-Emilion
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="recent-post-card">
                <div
                    class="card-thumb bg-cover"
                    style="background-image: url('{{AssetsXURL}}/blogdefault/img/recent-post/thumb3.png')"
                ></div>
                <div class="card-content">
                    <div class="post-meta">
                        <span class="meta-item"> Technology </span>
                        <span class="meta-item"> Feb 06, 2022 </span>
                    </div>
                    <a href="single-post.html">
                        <h3 class="heading-secondary">
                            The Beautiful French Village Of Saint-Emilion
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="recent-post-card">
                <div
                    class="card-thumb bg-cover"
                    style="background-image: url('{{AssetsXURL}}/blogdefault/img/recent-post/thumb4.png')"
                ></div>
                <div class="card-content">
                    <div class="post-meta">
                        <span class="meta-item"> Technology </span>
                        <span class="meta-item"> Feb 06, 2022 </span>
                    </div>
                    <a href="single-post.html">
                        <h3 class="heading-secondary">
                            The Beautiful French Village Of Saint-Emilion
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>