<div class="mobile-nav-one-wrapper">
    <div class="row">
        <div class="mobile-nav-wrap">
            <div class="mobile-nav">
                <button type="button" class="close-nav">
                    <i class="fal fa-times-circle"></i>
                </button>
                <nav class="sidebar-nav">
                    <ul class="metismenu" id="mobile-menu">
                    {{- range $k,$v := $.FrontendNav 0 -}}
                    {{- $url := $v.URL -}}
                    {{- $isValidURL := $url -}}
                        {{- if $v.HasChildren -}}
                            {{- if eq $v.Direction `X` -}}
                                {{- range $key,$sub := $v.FetchChildren -}}
                        <li>
                            <a href="{{$sub.Url}}" class="{{- if $sub.HasChildren -}}has-arrow{{- end -}}{{if $sub.IsActive}} active{{end}}"{{if $sub.Target}} target="{{$sub.Target}}"{{end}}>{{$sub.Title}}</a>
                            {{- if $sub.HasChildren -}}
                            {{- $.Set `mobileHeaderNavChildren` $sub -}}
                            {{Include "header_nav_mobile_children" $}}
                            {{- end -}}
                        </li>
                                {{- end -}}
                            {{- else -}}
                        <li>
                            <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}" class="has-arrow{{if $v.IsActive}} active{{end}}"{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>{{$v.Title}}</a>
                            {{- $.Set `mobileHeaderNavChildren` $v -}}
                            {{Include "header_nav_mobile_children" $}}
                        </li>
                            {{- end -}}
                        {{- else -}}
                        <li>
                            <a href="{{if $url}}{{$url}}{{else}}javascript:;{{end}}"{{if $v.IsActive}} class="active"{{end}}{{if and $isValidURL $v.Target}} target="{{$v.Target}}"{{end}}>{{$v.Title}}</a>
                        </li>
                        {{- end -}}
                    {{- else -}}
                        <li><a href="{{FrontendURL}}/"{{if eq $.URL.Path `/`}} class="active"{{end}}>{{"首页"|$.T}}</a></li>
                    {{- end -}}
                    </ul>
                    <a href="{{FrontendURL}}/user/index" class="button button-primary mt-20 ml-20 d-inline-block">
                        {{`会员中心`|$.T}}
                        <i class="fas fa-user"></i>
                    </a>
                </nav>

                <div class="action-bar">
                    {{if Config.contact.customerServiceEmail}}<a href="mailto:{{Config.contact.customerServiceEmail}}"><i class="fal fa-envelope"></i>{{Config.contact.customerServiceEmail}}</a>{{end}}
                    {{if Config.contact.customerServiceMobile}}<a href="tel:{{Config.contact.customerServiceMobile}}"><i class="fal fa-phone"></i>{{Config.contact.customerServiceMobile}}</a>{{end}}
                    <div class="social-icons d-flex">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>