body{background-color: black !important;}.headpanel{background-color:#323843 !important;}
.card{background-color: #1a1d23 !important;color: #eee !important;border-color: #333;}
.card .card-header,
.card .card-footer,.bg-transparent,
.editormd-html-preview, .editormd-preview-container{background-color: transparent !important;}
.card .card-header, .card .card-footer,
.card .media, nav, nav.bd-t{border-color: #3b4049 !important;}
.card .tx-inverse,.container .tx-inverse,.card-title{color: #eee !important}
.card .bg-white:not(.btn),.bg-white:not(.btn){background-color: #1f2126 !important;}
.card .tx-gray-dark, .bg-white .tx-gray-dark{color: #f1f1f1 !important}
.card .tx-gray,.container .tx-gray:not(.btn){color:#bbb !important}
.card a:not(.btn):not(.tx-white):not(.nav-link){color:#389afc}
.card a:not(.btn):hover{color:#2182e3}
.form-control,.form-control:focus{background-color: #000;color:#fff}
.form-control{border-color: #000 !important;}
p.form-control{background-color: transparent;}
.form-control-warning {border-color: #f49917 !important;transition:none;}

nav .page-item .page-link{
    border-color: #17191d !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
img#captchaImage{filter:invert(1);margin-left:1px;}
nav .page-item:not(.active):not(.disabled) .page-link{background-color: #3f434d !important;}

.input-group-addon:not(.input-group-img){background-color: #3f434d !important;color: #989da8}
.input-group-addon.bg-white:not(.btn){background-color: #000 !important;}
nav .page-item.disabled .page-link{background-color: transparent !important;}

.modal-content,.modal-content .card{background-color:#3a4042 !important}
.modal-title{color:#ddd}
.modal-header,.modal-footer{border-color: #4a5254 !important;}

#sectionSignIn{background: #000 !important;}
.heading-hr::after,
.heading-hr::before{color: #555}

.container-wrapper:not(.bg-gray-darker){background-color:#1a1d23;color:#ccc}
.container-wrapper.bg-superlight{background-color:#292f38 !important;}
.container-wrapper.bg-inverse{background-color:#000 !important;}
.container-wrapper:not(.bg-gray-darker) .tx-inverse{color: white !important}
.table td, .table th{border-color: #555;}

.markdown-body {color: #ddd !important}
.markdown-body table,
.editormd-html-preview .editormd-toc-menu h1, 
.editormd-preview-container .editormd-toc-menu h1{color: #666 !important;}
.markdown-body h1, 
.markdown-body h2, 
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6{border-color: #777 !important;}

img.object-fit-cover{filter: invert(1);}
.img-thumbnail{
    background-color: #888;
    border-color: #aaa;
}
.shadow {
    box-shadow: 2px 2px 4px #000;
}

.btn.btn-default.tx-inverse{color:#282c35 !important}
.form-control-plaintext{color: #ccc}
.list-group-item{background-color: #333;}
@media (max-width: 767px) {
.sf-menu ul{
    background-color: #222;
}
}