body{background-color: black !important;}
.headpanel{background-color:#323843 !important;}
.card{background-color: #1a1d23 !important;color: #eee !important;border-color: #333;}
.card-glass{background-color:rgba(0, 0, 0, 0.3) !important;}
.card .card-header,
.card .card-footer,.bg-transparent,
.editormd-html-preview, .editormd-preview-container{background-color: transparent !important;}
.card .card-header, .card .card-footer,
.card .media, nav, nav.bd-t{border-color: #3b4049 !important;}
.card .tx-inverse,.container .tx-inverse,.card-title{color: #eee !important}
.card .bg-white:not(.btn),.bg-white:not(.btn){background-color: #1f2126 !important;}
.card .tx-gray-dark, .bg-white .tx-gray-dark{color: #f1f1f1 !important}
.card .tx-gray,.container .tx-gray:not(.btn){color:#bbb !important}
.card a:not(.btn):not(.tx-white):not(.nav-link),
.modal-content a:not(.btn):not(.tx-white):not(.nav-link){color:#2a92fa}
.card a:not(.btn):hover,
.modal-content a:not(.btn):hover{color:#389afc !important}
.card a.badge.tag-item,
.modal-content a.badge.tag-item{color:#fff !important}
.form-control,.form-control:focus{background-color: #000;color:#fff}
.form-control{border-color: #000 !important;}
p.form-control{background-color: transparent;}
.form-control-warning {border-color: #f49917 !important;transition:none;}

nav .page-item .page-link{
    border-color: #17191d !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
img#captchaImage{filter:invert(1);margin-left:1px;}
nav .page-item:not(.active):not(.disabled) .page-link{background-color: #3f434d !important;}

.input-group-addon:not(.input-group-img){background-color: #3f434d !important;color: #989da8}
.input-group-addon.bg-white:not(.btn){background-color: #000 !important;}
nav .page-item.disabled .page-link{background-color: transparent !important;}
.nav-outline{border-color: #333;}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border-color: #333 #333 #333;background-color:#333;color:#ddd}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border-color: #333 #333 #333;}
.tabbable > .tab-content{border-color: #333}

.modal-content,.modal-content .card{background-color:#3a4042 !important}
.modal-title{color:#ddd}
.modal-header,.modal-footer{border-color: #4a5254 !important;}
.modal-content{color:#bbb}

#sectionSignIn{background: #000 !important;}
/* #sectionSignIn{background: #000 url('/public/assets/frontend/images/background/0.jpg') no-repeat center center fixed !important;}
#sectionSignIn .card{background-color: rgba(26, 29, 35, .3) !important;backdrop-filter: blur(5px);border-color: rgba(26, 29, 35, .3);box-shadow: 0 0 5px rgba(0, 0, 0, .3);}
#sectionSignIn .bg-success{background-color: rgba(69, 194, 47, .3) !important;backdrop-filter: blur(5px);}
#sectionSignIn .bg-info{background-color: rgba(22, 149, 245, .3) !important;backdrop-filter: blur(5px);}
#sectionSignIn .bg-primary{background-color: rgba(8, 102, 198, .3) !important;backdrop-filter: blur(5px);}
#sectionSignIn .bg-warning{background-color: rgba(244, 153, 23, .3) !important;backdrop-filter: blur(5px);}
#sectionSignIn .bg-danger{background-color: rgba(230, 92, 88, .3) !important;backdrop-filter: blur(5px);}
#sectionSignIn a.bg-success:hover,#sectionSignIn a.bg-success:focus{background-color: rgba(69, 194, 47, .4) !important}
#sectionSignIn a.bg-info:hover,#sectionSignIn a.bg-info:focus{background-color: rgba(22, 149, 245, .4) !important}
#sectionSignIn a.bg-primary:hover,#sectionSignIn a.bg-primary:focus{background-color: rgba(8, 102, 198, .4) !important}
#sectionSignIn a.bg-warning:hover,#sectionSignIn a.bg-warning:focus{background-color: rgba(244, 153, 23, .4) !important}
#sectionSignIn a.bg-danger:hover,#sectionSignIn a.bg-danger:focus{background-color: rgba(230, 92, 88, .4) !important} */
.heading-hr::after,
.heading-hr::before{color: #555}
.breadcrumb{background-color: #2a2f39;}
.container-wrapper:not(.bg-gray-darker){background-color:#1a1d23;color:#ccc}
.container-wrapper.bg-superlight{background-color:#292f38 !important;}
.container-wrapper.bg-inverse{background-color:#000 !important;}
.container-wrapper:not(.bg-gray-darker) .tx-inverse{color: white !important}
.table td, .table th{border-color: #555;}
.table tfoot > tr > th, .table thead:not(.thead-default):not(.thead-inverse) > tr > th,.table tbody > tr > th{color:#ccc;}
.card.card-table table.table>thead{background-color:#2c2f36}
.markdown-body {color: #ddd !important}
.markdown-body table,
.editormd-html-preview .editormd-toc-menu h1, 
.editormd-preview-container .editormd-toc-menu h1{color: #666 !important;}
.markdown-body h1, 
.markdown-body h2, 
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6{border-color: #777 !important;}

img.object-fit-cover{filter: invert(1);}
.img-thumbnail{
    background-color: #888;
    border-color: #aaa;
}
.shadow {
    box-shadow: 2px 2px 4px #000;
}

.btn.btn-default.tx-inverse{color:#282c35 !important}
.form-control-plaintext{color: #ccc}
.list-group-item{background-color: #333;}
@media (max-width: 767px) {
.sf-menu ul{
    background-color: #222;
}
}