{{Strip}}
{{- $rows := Stored.list -}}
{{- $isFollowing := Stored.isFollowing -}}
<div class="card bd-0 rounded-0 mg-t-20">
    <div class="card-body">
    {{- range $k, $v := $rows -}}
      <div class="pd-25 d-flex justify-content-between align-items-center{{if gt $k 0}} bd-t{{end}}">
        <div class="media tx-size-sm align-items-center">
          <a href="{{FrontendURL}}/u/{{$v.Customer.Id}}" class="mg-r-15" target="_blank"><img src="{{if $v.Customer.Avatar}}{{AddSuffix $v.Customer.Avatar "_200_200"}}{{else}}{{AssetsURL}}/images/user_50.png{{end}}" class="wd-40 ht-40 rounded-circle" alt="{{$v.Customer.Name}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';"></a>
          <div class="media-body">
            <h6 class="tx-bold tx-size-sm mg-b-0"><a href="{{FrontendURL}}/u/{{$v.Customer.Id}}" class="tx-gray-dark" target="_blank">{{$v.Customer.Name}}</a></h6>
            <span class="tx-gray-light tx-size-xs">{{$v.Customer.Description}}</span>
          </div><!-- media-body -->
        </div><!-- media -->
        {{if $isFollowing}}<!-- 显示我关注的人的时候 -->
        <a href="javascript:;" onclick="follow(this)" data-following-uid="{{$v.Customer.Id}}" data-i18n-following="{{`关注`|T}}" data-i18n-followed="{{`已关注`|T}}" data-i18n-unfollow="{{`取消关注`|T}}" class="btn btn-outline-danger btn-xs">{{`取消关注`|T}}</a>
        {{else}}<!-- 显示关注我的人的时候 -->
        <a href="javascript:;" onclick="follow(this)" data-following-uid="{{$v.Customer.Id}}" data-i18n-following="{{`关注`|T}}" data-i18n-followed="{{`已关注`|T}}" data-i18n-unfollow="{{`取消关注`|T}}" class="btn btn-outline-primary btn-xs">{{"关注"|T}}</a>
        {{end}}
      </div>
    {{- else -}}
    <p class="card-text pd-25">
      {{"没有记录"|T}}
    </p>
    {{- end -}}
    </div><!-- card-body -->
    <div class="card-footer tx-size-xs pd-y-15 auto-bottom-float">
      {{Stored.pagination.Render `#default#pagination`}}
    </div><!-- card-footer -->
</div><!-- card -->
{{/Strip}}