{{Extend "user/base"}}
{{Block "body"}}
{{Super}}

<div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"我的文章"|$.RawT|UpperCaseFirst|$.ExtT}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|$.RawT|UpperCaseFirst|$.ExtT}}</a>
      <span class="breadcrumb-item active">{{"我的文章"|$.RawT|UpperCaseFirst|$.ExtT}}</span>
    </nav>
  </div>

  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
    <div class="card card-table">
      <div class="card-header">
        <a class="btn btn-inverse pull-right tx-white" href="{{FrontendURL}}/user/article/create">
          <i class="fa fa-plus"></i>
          {{"投稿"|$.T}}
        </a>
        {{- if gt ($.Formx `categoryId`).Uint 0 -}}
        <a class="btn btn-info pull-right tx-white mg-r-5" href="{{FrontendURL}}/user/article/list">{{"全部文章"|$.T}}</a>
        {{- end -}}
        <h6 class="card-title pd-y-10 tx-size-15 tx-poppins mg-b-0">{{"我的文章"|$.T}}</h6>
      </div><!-- card-header -->
      <div class="table-responsive">
      <table class="table table-hover">
        <thead sort-current="{{$.Form `sort`}}">
          <tr>
            <th style="width:60px">&nbsp;</th>
            <th>{{"文章标题"|$.T}}</th>
            <th style="width:90px" sort="-views">{{"访问次数"|$.T}}</th>
            <th class="tx-right" style="width:65px">{{"状态"|$.T}}</th>
            <th style="width:90px">{{"评论"|$.T}}</th>
            <th style="width:170px">{{"时间"|$.T}}</th>
            <th class="tx-center" style="width:160px">{{"操作"|$.T}}</th>
          </tr>
        </thead>
        <tbody>
          {{range $k, $v := $.Stored.list}}
          <tr>
            <td class="pd-l-20">
                <a href="{{URLByName `article.detail` $v.Id}}" target="_blank"><img src="{{$v.Image|Default (AssetsXURL `/images/background/img442.jpg`)}}" onerror="this.onerror=null; this.src='{{AssetsXURL}}/images/background/img442.jpg';" class="wd-55 ht-55" alt="{{$v.Title}}"></a>
            </td>
            <td>
              <a href="{{URLByName `article.detail` $v.Id}}" target="_blank" class="tx-inverse tx-size-14 tx-medium">
                {{- if eq $v.Display "Y" -}}
                <span class="square-8 bg-success mg-r-5 rounded-circle" data-toggle="tooltip" title="{{`已发布`|$.T}}"></span>
                {{- else -}}
                <span class="square-8 bg-danger mg-r-5 rounded-circle" data-toggle="tooltip" title="{{`待审核`|$.T}}"></span>
                {{- end -}}
                {{$v.Title}}
              </a>
              {{- if $v.Tags -}}
              {{- range $index, $tagName := Split $v.Tags "," -}}
              <a href="{{URLByName `user.article.list`}}?tag={{$tagName}}">
                <span class="label label-default label-xs label-hover-primary">{{$tagName}}</span>
              </a>
              {{- end -}}
              {{- end -}}
              {{- if $v.Categories -}}
              <br /><small>
              {{- range $index, $category := $v.Categories -}}
              {{- if gt $index 0 -}}<i class="fa fa-angle-right wd-10 text-center"></i>{{- end -}}
              <a href="{{URLByName `user.article.list`}}?categoryId={{$category.Id}}">{{$category.Name}}</a>
              {{- end -}}
              </small>
              {{- end -}}
              <br /><small><span class="label label-default label-xs" data-toggle="tooltip" title="{{`内容格式`|$.T}}: {{call $.Func.getContypeName $v.Contype}}">{{call $.Func.getContypeName $v.Contype}}</span></small>
            </td>
            <td class="valign-middle">{{$v.Views}}</td>
            <td class="valign-middle tx-right">{{if eq $v.Display "Y"}}<span class="tx-success">{{"已发布"|$.T}}</span>{{else}}<span class="tx-danger">{{"待审核"|$.T}}</span>{{end}}</td>
            <td class="valign-middle">{{$v.Comments}}</td>
            <td class="valign-middle">
              {{"创建"|$.T}}: {{(Date $v.Created).Format "2006-01-02 15:04:05"}}<br />
              {{"修改"|$.T}}: {{if gt $v.Updated 0}}{{(Date $v.Updated).Format "2006-01-02 15:04:05"}}{{else}}-{{end}}
            </td>
            <td class="valign-middle tx-center">
              <div class="btn-group">
              <a href="{{FrontendURL}}/user/article/edit/{{$v.Id}}" class="btn btn-outline-primary btn-xs">
                <i class="fa fa-edit"></i>
                {{"修改"|$.T}}
              </a>
              <a href="{{FrontendURL}}/user/article/delete/{{$v.Id}}" class="btn btn-outline-danger btn-xs" onclick="return confirm('{{`确定要删除吗？`|$.T}}');">
                <i class="fa fa-trash"></i>
                {{"删除"|$.T}}
              </a>
              </div><!-- /.btn-group -->
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      </div><!-- table-responsive -->
      <div class="card-footer auto-bottom-float">
        {{$.Stored.pagination.Render `#default#pagination`}}
      </div><!-- card-footer -->
      
    </div><!-- card -->
  </div><!-- col-6 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}

{{Block "footer"}}
{{Super}}
<script>
$(function(){
  App.tableSorting();
});
</script>
{{/Block}}
