{{Extend "user/base"}}
{{Block "headEnd"}}
{{Super}}
<style type="text/css">
.abs-top5{position:absolute;top:3px}
.iconwrap+.asset-value{min-width:calc(100% - 50px);padding-left:10px}
</style>
{{/Block}}
{{Block "body"}}
{{Super}}

<div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"我的钱包"|$.T|UpperCaseFirst}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|$.T|UpperCaseFirst}}</a>
      <span class="breadcrumb-item active">{{"我的钱包"|$.T|UpperCaseFirst}}</span>
    </nav>
  </div>

  <div class="main-body pd-20">
        <div class="row tx-size-13">
          {{- range $k,$v := $.Stored.assetTypes -}}
          {{- $asset := index $.Stored.assets $v.K -}}
          <div class="col-md-6 col-xl-3 mg-b-20">
            <div class="card pd-10 pd-t-20 bd-0">
              <div class="{{if $v.H.icon}}d-flex justify-content-between align-items-center{{else}}d-block{{end}}">
                {{- if $v.H.icon -}}
                <a href="{{FrontendURL}}/user/wallet/flow?amountType=balance&assetType={{$v.K}}" class="iconwrap bg-{{$v.H.bg|Default `warning`}} rounded icon-32">
                  <i class="tx-white {{$v.H.icon}}"></i>
                </a>
                {{- end -}}
                <div class="asset-value">{{$comment := $v.H.comment}}
                  <div class="abs-top5">
                    <a href="{{FrontendURL}}/user/wallet/flow?amountType=balance&assetType={{$v.K}}" class="tx-size-xs tx-gray-light">{{$v.V|$.T|UpperCaseFirst}}{{if $comment}}({{$comment|$.T}}){{end}}</a>
                  </div>
                  {{- if and $v.X (HasImplemented $v.X `RenderContextWithData`) -}}
                  <div class="d-flex justify-content-between align-items-center balance-wrap">
                    {{$.Set `fullAssetAmountFormat` `1`}}
                    {{- $.RenderWithData $v.X $asset.Balance -}}
                    {{$.Set `fullAssetAmountFormat` ``}}
                  </div>
                  {{- else -}}
                  <h4 class="tx-inverse tx-arimo tx-bold mg-b-0">
                    {{- if $v.H.symbol}}{{$v.H.symbol|ToHTML}}{{end -}}
                    {{- $asset.Balance -}}
                  </h4>
                  {{- end -}}
                  {{- if and (eq $v.K `money`) Config.base.recharge.On -}}
                  <a href="{{FrontendURL}}/user/wallet/recharge" class="btn btn-xs btn-pink tx-size-xs pd-y-0 pd-x-5" data-toggle="tooltip" title="{{`点击充值`|$.T}}" target="_blank">{{`充值`|$.T|UpperCaseFirst}}</a>
                  {{- end -}}
                  {{- if gt $asset.Freeze 0.0 -}}
                  <span class="tx-size-xs tx-gray-light freeze-wrap">
                    {{- `冻结`|$.T}}:
                    {{if and $v.X (HasImplemented $v.X `RenderContextWithData`) -}}
                    {{- $.RenderWithData $v.X $asset.Freeze -}}
                    {{- else -}}
                    {{if $v.H.symbol}}{{$v.H.symbol|ToHTML}}{{end -}}
                    {{- $asset.Freeze -}}
                    {{- end -}}
                  </span>
                  {{- end -}}
                </div>
              </div><!-- d-flex -->
            </div><!-- card -->
          </div><!-- col-3 -->
          {{- end -}}
        </div>

<div class="row">
  <div class="col-lg-12 mg-t-0">
    <div class="card card-table">
      <div class="card-header">
        <h6 class="card-title">{{"资产流水"|$.T}}</h6>
      </div><!-- card-header -->
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:130px">{{"时间"|$.T}}</th>
            <th style="width:100px">{{"资产"|$.T}}</th>
            <th style="width:100px">{{"变动后"|$.T}}</th>
            <th class="tx-right" style="width:100px">{{"类型"|$.T}}</th>
            <th>{{"说明"|$.T}}</th>
            <th style="width:100px">{{"状态"|$.T}}</th>
          </tr>
        </thead>
        <tbody>{{$zeroAmt := Float64 0}}
          {{- range $k, $v := $.Stored.list -}}
          <tr>
            <td id="wallet-flow-{{$v.Id}}" title="{{(Date $v.Created).Format `2006-01-02 15:04:05`}}">
              {{- $.TimeAgo $v.Created `now` -}}
            </td>
            <td>
              {{- if gt $v.Amount $zeroAmt}}
              <span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>{{call $.Func.formatAnyAssetAmount $v.AssetType $v.Amount}}</span>
              {{- else}}
              <span class="tx-danger"><i class="icon ion-android-arrow-down mg-r-5"></i>{{call $.Func.formatAnyAssetAmount $v.AssetType $v.Amount}}</span>
              {{- end}}
            </td>
            <td>
              {{- call $.Func.formatAnyAssetAmount $v.AssetType $v.WalletAmount -}}
            </td>
            <td class="tx-right">
              {{- call $.Func.assetTypeName $v.AssetType -}}
            </td>
            <td>
              {{- $v.Description -}}
            </td>
            <td>
              {{- if eq $v.Status "pending"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> {{"待确认"|$.T}}</span>
              {{- else if eq $v.Status "confirmed"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> {{"已生效"|$.T}}</span>
              {{- else if eq $v.Status "canceled"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-gray-light mg-r-5 rounded-circle"></span> {{"已取消"|$.T}}</span>
              {{- else}}
              {{- end}}
            </td>
          </tr>
          {{- end -}}
        </tbody>
      </table>
      </div><!-- table-responsive -->
      <div class="card-footer">
        {{- ($.Stored.pagination.SetNum 5).Render `#default#pagination` -}}
      </div><!-- card-footer -->
      
    </div><!-- card -->
  </div><!-- col-6 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}

{{Block "footer"}}
{{Super}}
{{/Block}}
