{{Extend "user/base"}}
{{Block "body"}}
{{Super}}
<div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"线下转账历史"|$.RawT|UpperCaseFirst|$.ExtT}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|$.RawT|UpperCaseFirst|$.ExtT}}</a>
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/wallet">{{"我的钱包"|$.RawT|UpperCaseFirst|$.ExtT}}</a>
      <span class="breadcrumb-item active">{{"线下转账历史"|$.RawT|UpperCaseFirst|$.ExtT}}</span>
    </nav>
  </div>

  <div class="main-body pd-20">
<div class="row">
  <div class="col-lg-12 mg-t-0">
    <div class="card card-table">
      <div class="card-header">
				<div class="pull-right" style="margin-left:10px">
					<form class="form form-horizontal" action="" id="search-form" method="GET">
						<div class="input-group">
							<span class="input-group-addon">{{"目标类型"|$.T}}</span>
							<select name="targetType" class="form-control" id="targetType" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{- $targetType := $.Form `targetType` -}}
								{{- range $k, $v := $.Stored.targetTypes -}}
								<option value="{{$v.K}}" {{if eq $targetType $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
							<span class="input-group-addon">{{"付款方式"|$.T}}</span>
							<select name="payMethod" class="form-control" id="payMethod" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>
								{{- $payMethod := $.Form `payMethod` -}}
								{{- range $k, $v := $.Stored.payMethods -}}
								<option value="{{$v.K}}" {{if eq $payMethod $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
							<span class="input-group-addon">{{"状态"|$.T}}</span>
							<select name="status" class="form-control" id="status" onchange="$('#search-form').submit()">
								<option value=""> - {{"不限"|$.T}} - </option>{{- $status := $.Form `status` -}}
								{{- range $k, $v := $.Stored.statusList -}}
								<option value="{{$v.K}}" {{if eq $status $v.K}} selected{{end}}>{{$v.V}}</option>
								{{- end -}}
							</select>
						</div>
					</form>
				</div>
        <h6 class="card-title">{{"线下转账历史"|$.T}}</h6>
      </div><!-- card-header -->
      <div class="table-responsive">
      <table class="table" style="table-layout:fixed">
        <thead>
          <tr>
            <th style="width:80px">{{"提交时间"|$.T}}</th>
            <th class="tx-right" style="width:100px">{{"金额"|$.T}}</th>
            <th style="width:100px">{{"目标类型"|$.T}}</th>
            <th style="width:100px">{{"付款方式"|$.T}}</th>
            <th style="width:100px">{{"付款时间"|$.T}}</th>
            <th style="width:150px">{{"付款账号"|$.T}}</th>
            <th style="width:200px">{{"支行/交易号"|$.T}}</th>
            <th style="width:100px">{{"户主名"|$.T}}</th>
            <th style="width:80px">{{"状态"|$.T}}</th>
          </tr>
        </thead>
        <tbody>
          {{- range $k, $v := $.Stored.list -}}
          <tr>
            <td id="wallet-flow-{{$v.Id}}" title="{{(Date $v.Created).Format `2006-01-02 15:04:05`}}">
              {{- $.TimeAgo $v.Created `now` -}}
            </td>
            <td class="tx-right">{{NumberFormat $v.PayAmount 2}}</td>
            <td>{{call $.Func.targetTypeName $v.TargetType}}</td>
            <td>{{call $.Func.payMethodName $v.PayMethod}}</td>
            <td>{{if gt $v.PayTime 0}}{{(Date $v.PayTime).Format `2006-01-02 15:04`}}{{else}}-{{end}}</td>
            <td>{{$v.PayAccount}}</td>
            <td>
							{{if $v.PayBankBranch}}{{`银行支行`|$.T}}: {{$v.PayBankBranch}}<br />{{end}}
							{{if $v.PayTransactionNo}}{{`交易订单号`|$.T}}: {{$v.PayTransactionNo}}{{end}}
            </td>
            <td>{{$v.PayOwner|Default `-`}}</td>
            <td>
              {{- if eq $v.Status "pending"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-warning mg-r-5 rounded-circle"></span> {{"待核实"|$.T}}</span>
              {{- else if eq $v.Status "verified"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> {{"已核实"|$.T}}</span>
              {{- else if eq $v.Status "invalid"}}
                <span class="tx-size-11 d-block"><span class="square-8 bg-gray-light mg-r-5 rounded-circle"></span> {{"无效"|$.T}}</span>
              {{- else}}
              {{- end}}
            </td>
          </tr>
          {{- end -}}
        </tbody>
      </table>
      </div><!-- table-responsive -->
      {{- if not $.Stored.pagination.IsSingle -}}
      <div class="card-footer auto-bottom-float">
        {{- $.Stored.pagination.Render `#default#pagination` -}}
      </div><!-- card-footer -->
      {{- end -}}
    </div><!-- card -->
  </div><!-- col-6 -->
</div><!-- row -->
    </div><!-- main-body -->
</div><!-- main -->
{{/Block}}

{{Block "footer"}}
{{Super}}
{{/Block}}
