{{Extend "user/base"}}
{{Block "body"}}
{{Super}}
<div class="main mg-lg-l-240 pd-t-70 pd-lg-t-75">
  <div class="main-header pd-x-20 pd-y-30 bg-white d-sm-flex align-items-center justify-content-between">
    <h5 class="tx-inverse tx-bold mg-b-0">{{"钱包充值"|$.T}}</h5>
    <nav class="breadcrumb pd-0 bg-transparent mg-b-0 tx-size-12 mg-t-5 mg-sm-t-0">
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/index">{{"用户中心"|$.T}}</a>
      <a class="breadcrumb-item" href="{{FrontendURL}}/user/wallet">{{"我的钱包"|$.T}}</a>
      <span class="breadcrumb-item active">{{"钱包充值"|$.T}}</span>
    </nav>
  </div>

<div class="main-body pd-20 pd-b-0-force">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-form form-label-right">
                <div class="card-body">
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label">{{`当前余额`|$.T}}</label>
                        <div class="col-sm-8">
                            <div>
                                <span class="tx-orange tx-bold tx-size-24">{{$.Stored.money}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- main-body -->

{{- range $k,$v := $.Stored.rechargePage.Tmpl `body` -}}
{{$.Fetch $v $}}
{{- end -}}

{{- $returnURL := $.Form `next` | Default (printf `%s%s` FrontendURL `/user/wallet`) -}}
<div class="main-body pd-20 pd-b-0-force">
    <div class="row">
        <div class="col-md-12">
            <form class="form form-label-right" method="post" action="{{FrontendURL}}/user/wallet/recharge/prepaid_card">
              <div class="card card-form">
                  <div class="card-header">
                    <h6 class="card-title">{{"用充值卡充值"|$.T}}</h6>
                  </div><!-- card-header -->
                  <div class="card-body">
                      <div class="row form-group">
                          <label class="col-sm-2 col-form-label required">{{`充值卡卡号`|$.T}}</label>
                          <div class="col-sm-5">
                              <input type="text" class="form-control" name="cardNumber" value="{{$.Form `cardNumber`}}" placeholder="{{`充值卡卡号`|$.T}}" required="required">
                          </div>
                      </div>
                      <div class="row form-group">
                          <label class="col-sm-2 col-form-label required">{{`充值卡密码`|$.T}}</label>
                          <div class="col-sm-5">
                            <input type="password" class="form-control" name="cardPassword" value="{{$.Form `cardPassword`}}" placeholder="{{`充值卡密码`|$.T}}" required="required">
                          </div>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="row form-group">
                        <div class="col-sm-8 offset-sm-2">
                            <input type="hidden" name="next" value="{{$.Form `next`}}">
                            <button type="submit" class="btn btn-primary">{{`充值`|$.T}}</button>
                            <a href="{{$returnURL}}" class="btn btn-default tx-inverse">{{`返回`|$.T}}</a>
                        </div>
                    </div>
                  </div>
              </div><!-- card -->
            </form>
        </div><!-- col-6 -->
    </div>
</div><!-- main-body -->


{{- if and Config.contact.recvMoneyMethod Config.contact.recvMoneyAccount -}}
  <div class="main-body pd-20 pd-b-0-force">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-form">
                <div class="card-header">
                  <h6 class="card-title">{{"线下付款"|$.T}}</h6>
                </div><!-- card-header -->
                <div class="card-body">
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label tx-right">{{`付款方式`|$.T}}</label>
                        <div class="col-sm-8">
                            <div class="form-control-plaintext">{{Config.contact.recvMoneyMethod}}</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label tx-right">{{`账号`|$.T}}</label>
                        <div class="col-sm-8">
                            <div class="form-control-plaintext">{{Config.contact.recvMoneyAccount}}</div>
                        </div>
                    </div>
                    {{- if Config.contact.recvMoneyBranch -}}
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label tx-right">{{`银行支行`|$.T}}</label>
                        <div class="col-sm-8">
                            <div class="form-control-plaintext">{{Config.contact.recvMoneyBranch}}</div>
                        </div>
                    </div>
                    {{- end -}}
                    {{- if Config.contact.recvMoneyOwner -}}
                    <div class="row form-group">
                        <label class="col-sm-2 col-form-label tx-right">{{`开户人姓名`|$.T}}</label>
                        <div class="col-sm-8">
                            <div class="form-control-plaintext">{{Config.contact.recvMoneyOwner}}</div>
                        </div>
                    </div>
                    {{- end -}}
                </div>
            </div><!-- card -->
        </div><!-- col-6 -->
    </div>

</div><!-- main-body -->
{{- end -}}

<div class="mg-t-20"></div>
</div><!-- main -->
{{/Block}}

{{Block "footer"}}
<script type="text/html" id="payment-subtype-tpl">
    <div class="row form-group" id="payment-subtype-switch">
        <label class="col-sm-2 col-form-label required">{{`<%= label %>`|ToHTML}}</label>
        <div class="col-sm-8">
            {{`<% var checked = false; for(var i=0;i < options.length;i++) { var t = options[i]; if(t.disabled) continue; %>`|ToHTML}}
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" value="<%= t.value %>" name="subtype"{{`<% if(!checked){ checked = true; %>`|ToHTMLAttr}} checked="checked"{{`<% } %>`|ToHTMLAttr}}>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    {{`<%= t.text %>`|ToHTML}}
                </span>
            </label>
            {{`<% } %>`|ToHTML}}
        </div>
    </div>
</script>
{{Super}}
{{- range $k,$v := $.Stored.rechargePage.Tmpl `foot` -}}
{{$.Fetch $v $}}
{{- end -}}
{{/Block}}
