{{Strip}}
{{- $commentList := commentList -}}
{{if $commentList}}
{{range $k,$v := $commentList}}
<div class="card-block pd-y-30 pd-x-0">
    <div class="media d-block d-sm-flex">
        <a href="javascript:;"><img src="{{if $v.Extra.avatar}}{{AddSuffix $v.Extra.avatar `_200_200`}}{{else}}{{AssetsURL}}/images/user_50.png{{end}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';" class="d-flex mg-r-20 rounded-circle wd-48 ht-48 bg-info" alt="{{$v.Extra.name}}"></a>
        <div class="media-body tx-size-sm mg-t-20 mg-sm-t-0">
            <div class="d-block">
              <span class="tx-medium tx-gray-dark tx-size-sm">{{$v.Extra.name}}</span>
              {{if $v.Extra.isTargetAuthor}}
              <span class="badge badge-primary tx-normal">{{"作者"|T}}</span>
              {{end}}
              {{if $v.Extra.isBought}}
              <span class="badge badge-success tx-normal">{{"已购买"|T}}</span>
              {{end}}
              {{if $v.Extra.isAdmin}}
              <span class="badge badge-warning tx-normal">{{"管理员"|T}}</span>
              {{end}}
              <small class="tx-normal tx-light">{{T `%d楼` $v.FloorNumber}}</small>
            </div>
          <small class="tx-size-12 d-block mg-b-20">
            <span title="{{(DateFormat `2006-01-02 15:04` $v.Created)}}">{{TimeAgo $v.Created}}</span>
            <a href="javascript:;" class="{{if and $v.Extra.clickFlow (eq $v.Extra.clickFlow.Type `like`)}}tx-success{{else}}tx-gray-light{{end}} hover-success mg-l-10" data-comment-like-id="{{$v.Id}}">
              <i class="fa fa-thumbs-up"></i>
              <span class="tx-size-14 comment-likes">{{$v.Likes}}</span>
            </a>
            <a href="javascript:;" class="mg-l-10" data-toggle="modal" data-target="#modal-comment-form" data-comment-id="{{$v.Id}}" data-root-id="{{$v.RootId}}" data-comment-author="{{$v.Extra.name}}" data-comment-content="#comment-content-{{$v.Id}}">{{"回复"|T}}</a>
            {{if and (not Stored.flat) (not Stored.isReply)}}
            (<a href="javascript:;" data-reply-id="{{$v.Id}}">{{$v.Replies}}</a>)
            {{end}}
          </small>

          <div class="comment-content mg-b-0{{if eq $v.Contype `markdown`}} markdown-code{{end}}" id="comment-content-{{$v.Id}}">
            {{if gt $v.ReplyCommentId 0}}
            <div class="reply-head mg-b-10 inline">
            <span class="tx-gray-light tx-light">{{"回复"|T}}</span>
            <span class="tx-medium tx-gray-dark tx-size-sm">{{$v.Extra.repliedCustomerName}}</span>
            {{if gt $v.ReplyFloorNumber 0 -}}
            <span class="tx-gray-light tx-light">{{T "%d楼" $v.ReplyFloorNumber}}</span>
            {{- end -}}
            :</div>
            {{end}}
            {{- OutputContent $v.Content $v.Contype -}}
          </div>
          {{if and (not Stored.flat) (not Stored.isReply)}}
          <div id="reply-list-box-{{$v.Id}}" data-url="/article/comment_reply_list?commentId={{$v.Id}}"></div>
          {{end}}
        </div><!-- media-body -->
    </div><!-- media -->
</div><!-- card-block -->
{{end}}

<div class="card-footer tx-size-xs pd-x-0">
  {{- $paging := Get `paginationComment` -}}
  {{- if $paging -}}
  {{- $paging.Render `#default#pagination` -}}
  {{- else -}}
  {{- Stored.pagination.Render `#default#pagination` -}}
  {{- end -}}
</div><!-- card-footer -->
{{else}}
<div class="alert" role="alert">
    <strong><i class="fa fa-comments"></i></strong> {{"当前尚未发布任何评论"|T}}
</div>
{{end}}
{{/Strip}}