{{Strip}}{{Extend "#default#base"}}
{{Block "title"}}{{- "文章列表"|$.T}} - {{$.Stored.product.Name|Title}}: {{$.Stored.product.Slogan -}}{{/Block}}
{{Block "keywords"}}{{$.Stored.product.Keywords}}{{/Block}}
{{Block "description"}}{{$.Stored.product.Summary}}{{/Block}}
{{Block "bodyAttr"}} class="pd-t-70"{{/Block}}
{{Block "body"}}
{{$product := $.Stored.product}}
{{Include "#default#header"}}

<div class="bb-mainpanel">
    {{Include "#default#article/partial_list_top"}}

    <div class="container pd-b-40">
    {{$end := Sub (len $.Stored.articles) 1}}
    {{range $k, $v := $.Stored.articles}}
    {{if Eq (Math "mod" $k 4) 0}}
      {{if gt $k 0}}</div><!-- card-deck -->{{end}}
      <div class="card-deck{{if ge $k 4}} mg-t-20{{end}}">
    {{end}}
        <div class="card bd-0 rounded-0{{if not $v.Image}} card-inverse bg-indigo{{end}}">
            <!-- bg-indigo/bg-info -->
          {{if $v.Image}}
          <a href="{{URLByName `article.detail` $v.Id}}">
            <figure class="effect-shine">
              <img class="img-fluid wd-100p rounded-3 shadow" src="{{$v.Image}}" alt="{{$v.Title}}" onerror="this.onerror=null;this.src='{{AssetsXURL}}/images/83.jpg';">
              <figcaption></figcaption>
            </figure>
          </a>
          {{end}}
          <div class="card-block pd-20 tx-center bd-x bd-color-gray-lighter">
            <div class="d-flex justify-content-center align-items-center{{if $v.Image}} tx-gray-light{{end}} tx-size-12">
              <span class="d-inline-block tx-info">Health</span>
              <i class="fa fa-circle tx-size-8 mg-x-10 tx-gray-lighter"></i>
              <span class="d-inline-block">{{(Date $v.Created).Format ($.RawT "2006年1月2日")}}</span>
            </div><!-- d-flex -->
            <h6 class="lh-5 mg-t-10 mg-b-0"><a href="{{URLByName `article.detail` $v.Id}}" class="{{if not $v.Image}}tx-white{{else}}tx-inverse{{end}}">{{$v.Title}}</a></h6>
            {{if not $v.Image}}
            <p class="tx-size-xs mg-b-30">{{$v.Summary}}</p>
            {{end}}
          </div><!-- card-block -->
          <div class="card-footer bd bd-t-0 bd-color-gray-lighter rounded-bottom-0 tx-size-base d-flex justify-content-center align-items-center">
            <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-info d-inline-block mg-r-20">
              <i class="fa fa-eye"></i>
              <span class="tx-size-12">{{$v.Views}}</span>
            </a>
            <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-info d-inline-block mg-r-20">
              <i class="fa fa-thumbs-up"></i>
              <span class="tx-size-12">{{$v.Likes}}</span>
            </a>
            <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-info d-inline-block mg-r-40">
              <i class="fa fa-comment"></i>
              <span class="tx-size-12">{{$v.Comments}}</span>
            </a>
            <!-- <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-primary d-inline-block mg-r-10"><i class="fa fa-facebook-official"></i></a>
            <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-info d-inline-block mg-r-10"><i class="fa fa-twitter"></i></a>
            <a href="javascript:;" class="{{if not $v.Image}}tx-white{{else}}tx-gray-light{{end}} hover-danger d-inline-block"><i class="fa fa-pinterest"></i></a> -->
          </div><!-- card-footer -->
        </div><!-- card -->
      {{if eq $k $end}}</div><!-- card-deck -->{{end}}
    {{end}}

      <nav class="mg-t-60 d-flex justify-content-center">
        {{$.Stored.pagination.Render "#default#pagination_circle"}}
      </nav>

    </div><!-- container -->

    <div class="container-wrapper bg-gray-lighter pd-y-20 pd-sm-y-30 pd-lg-y-40">
      <div class="container">
        <div class="d-lg-flex justify-content-between align-items-center">
          <div class="mg-b-20 mg-lg-b-0">
            <h4 class="tx-inverse">Blog Pages</h4>
            <p class="mg-b-0 tx-size-sm">A high quality pre-made blog pages to be used in sharing your latest news, expriences or knowledge.</p>
          </div>
          <a href="../templates/blog.html" class="btn btn-inverse tx-uppercase tx-size-11 tx-medium tx-spacing-2 pd-y-15">View More Pages <i class="fa fa-angle-right mg-l-5"></i></a>
        </div><!-- d-flex -->
      </div><!-- container -->
    </div><!-- container-wrapper -->
</div><!-- bb-mainpanel -->
{{Include "#default#article/partial_footer"}}
{{/Block}}
{{/Strip}}