{{Strip}}{{Extend "base"}}
{{Block "title"}}
{{- "文章列表"|$.T -}}{{range $index, $category := $.Stored.categories}} - {{$category.Name}}{{- end -}}
{{/Block}}
{{Block "keywords"}}{{- "文章列表"|$.T -}}{{range $index, $category := $.Stored.categories}},{{$category.Name}}{{- end -}}
{{/Block}}
{{Block "description"}}{{/Block}}
{{Block "bodyAttr"}} class="pd-t-70 bg-gray-lightest"{{/Block}}
{{Block "body"}}
{{Include "header"}}
<div class="bb-mainpanel">
    <div class="container">

        <div class="row">
            <div class="col-12">
            <div class="card bd-0 bg-transparent mg-t-20 bg-white">
                <div class="card-header pd-x-0 bg-transparent bd-color-gray-lighter">
                    <span class="tx-size-18 tx-bold tx-inverse pd-x-15">
                        {{Include "#default#article/list_cardhead"}}
                    </span>
                </div><!-- card-header -->
                <div class="media-list">
                    {{- $endIndex := Sub (len $.Stored.articles) 1 -}}
                    {{- range $k, $v := $.Stored.articles -}}
                    <div class="media pd-20 bg-white{{if ne $k $endIndex}} bd-b bd-gray-light{{end}} hover-bg-gray-xlightest">
                        <div class="media-body tx-size-md">
                            <span class="pull-right">
                                {{- if $v.Tags -}}
                                <span class="d-inline-block">
                                    <i class="fa fa-tags"></i>
                                    {{- range $tagK,$tagV := Split $v.Tags ","}}
                                    {{- if gt $tagK 0}}/{{end}}
                                    <span class="tx-info">
                                        <a href="{{FrontendURL}}/articles{{$.Ext}}?tag={{$tagV}}">{{$tagV}}</a>
                                    </span>
                                    {{- end -}}
                                </span>
                                {{- end -}}
                            </span>
                            <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}" class="tx-medium tx-size-20">{{$v.Title}}</a>
                            <p class="tx-gray-light mg-b-5 d-block">
                                {{$v.Summary}}
                            </p>
                            <div class="tx-size-12 d-flex align-items-center">
                                <span class="tx-gray-light hover-info d-inline-block mg-r-20">
                                    <i class="fa fa-eye"></i>
                                    <span class="tx-size-12">{{$v.Views}}<span class="hidden-xs-down"> Views</span></span>
                                </span>
                                <span href="javascript:;" class="tx-gray-light hover-info d-inline-block mg-r-20">
                                    <i class="fa fa-thumbs-up"></i>
                                    <span class="tx-size-12">{{$v.Likes}}<span class="hidden-xs-down"> Likes</span></span>
                                </span>
                                <span href="javascript:;" class="tx-gray-light hover-info d-inline-block mg-r-40">
                                    <i class="fa fa-comment"></i>
                                    <span class="tx-size-12">{{$v.Comments}}<span class="hidden-xs-down"> Comments</span></span>
                                </span>
                            </div>
                        </div><!-- media-body -->
                        {{- if $v.Image -}}
                        <a href="{{FrontendURL}}/article/{{$v.Id}}{{$.Ext}}">
                            <img src="{{$v.Image}}" class="img-fluid wd-100 mg-l-15" alt="{{$v.Title}}" onerror="this.onerror=null;this.src='{{AssetsXURL}}/images/placeholder/default-sm.jpg';">
                        </a>
                        {{- end -}}
                    </div><!-- media -->
                    {{- end -}}
                </div><!-- media-list -->
                <nav class="d-flex justify-content-center bd-t pd-t-10">
                    {{$.Stored.pagination.Render "#default#pagination_circle"}}
                </nav>
            </div><!-- card -->
        
        </div>
        </div><!-- row -->

    </div><!-- container -->

    {{Include "#default#friendlink"}}
    {{Include "#default#footer_dark"}}
</div><!-- bb-mainpanel -->
{{/Block}}
{{/Strip}}