.amplayer-play-fail{position:absolute;top:50%;left:50%;margin-left:-120px;margin-top:-16.5px;color:white;padding:5px 10px;border-radius:3px;font-size:16px;
background:red;width:240px;text-align:center;box-shadow:1px 1px 5px #222 inset;text-shadow:1px 1px 2px #666;z-index:1}
.amplayer-play-fail > span{vertical-align:middle}
.amplayer-play-fail > a.close{position:absolute;right:-8px;top:-8px;border-radius:10px;background:#444;box-shadow:1px 1px 5px #222;text-shadow:1px 1px 2px #000;display:block;height:20px;width:20px;line-height:20px;cursor:pointer;color:white;opacity:1;text-decoration:none;font-weight:normal;font-size:1em;}
.amplayer-play-fail > a.close:hover{background:#555}
.amplayer-center-button{display:none;max-width:250px;width:100%;height:50px;position:absolute;top:50%;left:50%;
color:#fff;text-align:center;transform:translate(-50%, -50%);z-index:999;
text-shadow:0 0 3px rgba(0,0,0,0.5);}
.dplayer-controller .dplayer-icons .dplayer-setting .dplayer-setting-box{z-index:1000 !important;}
.amplayer-center-button > *{width:50px;height:50px;outline:none;cursor:pointer;border:none;background-color:transparent;color:white;display:inline-block;line-height:15px;vertical-align:middle;position:relative;}
.amplayer-center-button > * > i{font-size:30px;margin-top:10px}
.amplayer-center-button > * > span{position:absolute;display:block;width:100%;text-align:center;left:0;font-size:12px}
.amplayer-center-button .amplayer-play{margin-left:15px;margin-right:15px}
.amplayer-center-button .amplayer-play i{font-size:50px;margin:0}
.dplayer-mobile + .amplayer-center-button,.dplayer-mobile .amplayer-center-button,.dplayer-hide-controller .amplayer-center-button{display: none !important;}
.dplayer-live + .amplayer-center-button .amplayer-backward,.dplayer-live + .amplayer-center-button .amplayer-forward,
.dplayer-live .amplayer-center-button .amplayer-backward,.dplayer-live .amplayer-center-button .amplayer-forward{display:none}
.amplayer-loading{width:90%;position:absolute;top:50%;left:50%;color:#fff;font-size:16px;text-align:center;transform:translate(-50%, -50%);z-index:999}
.overlay-channel-name{position:absolute;top:10px;left:0;color:#fff;font-size:20px;padding:10px 20px;opacity:.5;}
.amplayer-total{position:absolute;top:0;left:0;color:#fff;font-size:10px;padding:5px 20px;opacity:.5;}
.amplayer-total span{margin-right:3px;}
.dplayer-menu{display:none!important}
.dplayer-logo{top:20px!important;left:auto!important;right:20px!important;max-width:70px!important;opacity:0.5;}
.dplayer-logo img{min-height:50px;}